<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/css/auth/style.css" rel="stylesheet" type="text/css">
    <script th:src="@{/js/auth/script.js}"></script>

</head>
<body>
<img th:src="@{/images/Starducks_Logo.png}" alt="Starducks Logo" class="logo">
<form action="/forgotPwd" method="post">
    <label for="empId">사번</label>
    <input type="text" id="empId" name="email" required>
    <label for="email">이메일 주소</label>
    <input type="email" id="email" name="email" required>
    <button type="submit">비밀번호 찾기</button>
</form>


</body>
</html>