<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link href="/css/auth/style.css" rel="stylesheet" type="text/css">
  <script th:src="@{/js/auth/script.js}"></script>
</head>
<body>
<div class="flex-container">
  <img th:src="@{/images/Starducks_Logo.png}" alt="Starducks Logo" class="login-logo">
<div class="login-container">
  <form th:action="@{/login}" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <div class="form-floating">
      <input type="text" id="empId" name="empId" required>
      <label for="empId">사번</label>
    </div>

    <div class="form-floating">
      <input type="password" id="password" name="password" required>
      <label for="password">비밀번호</label>
      <span id="errorMessage"  th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></span>
    </div>

    <button type="submit">로그인</button>
  </form>

  <a href="/forgotPwd" class="forgot-password">비밀번호 찾기</a>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  const emailSent = /*[[${emailSent}]]*/ 'false';

  window.onload = function() {
    if (emailSent === 'true') {
      Swal.fire({
        title: 'Starducks',
        text: '이메일이 전송되었습니다. 로그인 페이지로 이동합니다.',
        icon: 'success',
        confirmButtonText: '확인',
        confirmButtonColor: '#4A85F6'
      });
    }
  };
  /*]]>*/
</script>
</body>
</html>
