<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="/css/auth/style.css" rel="stylesheet" type="text/css">
  <script th:src="@{/js/auth/script.js}"></script>
</head>
<body>
<div class="flex-container">
  <img th:src="@{/images/Starducks_Logo.png}" alt="Starducks Logo" class="login-logo">
<div class="login-container">
  <form th:action="@{/login}" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <div class="form-floating">
      <input type="text" id="empId" name="empId" required>
      <label for="empId">사번</label>
    </div>

    <div class="form-floating">
      <input type="password" id="password" name="password" required>
      <label for="password">비밀번호</label>
      <!-- 예시 오류 메시지 -->
      <span id="errorMessage"  th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></span>
    </div>

    <button type="submit">로그인</button>
  </form>

  <a href="/forgotPwd" class="forgot-password">비밀번호 찾기</a>
</div>
</div>
</body>
</html>
