<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{generalAffairs/layouts/main}">

<main layout:fragment="content">

    <!-- 검색 폼 추가 -->
    <form th:action="@{/products/list}" method="get">
        <input type="text" name="searchKeyword" placeholder="품목 이름 입력">
        <button type="submit">검색</button>
    </form>


    <a th:href="@{/products/add}" >
        <button  type="submit"> 신규등록 </button>
    </a>

    <table>
        <thead>
        <tr>
            <th>품목 Code</th>
            <th>품목 이름</th>
            <th>카테고리</th>
            <th>단위</th>
            <th>공급업체</th>
            <th>거래여부</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.productCode}">p.productCode</td>
            <td>
                <a th:text="${p.productName}" th:href="@{/products/info/{id}(id=${p.productCode})}">p.name</a>
            </td>
            <td th:text="${p.productCategory}">카테고리</td>
            <td th:text="${p.productUnit}">p.unit</td>
            <td th:text="${p.vendor.vendorName}">거래처 이름</td>
            <td>
                <span th:text="${p.productSelling} ? '판매 중' : '판매 중지'">거래 상태</span>
            </td>
        </tr>
        </tbody>
    </table>

    <th:block th:each="page :${#numbers.sequence(startPage,endPage)}">

        <a th:if="${page != nowPage}" th:href="@{/products/list(page = ${page - 1}, searchKeyword =${param.searchKeyword})}" th:text="${page}"></a>
<!--        param ->쿼리 스트링 중에 특정키워드 가져와서 넘겨줌-->


        <strong th:if="${page == nowPage}" th:text="${page}" style="color: red"></strong>

    </th:block>




</main>
</html>