<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->
<th:block layout:fragment="title">품목등록</th:block>
<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/generalAffairs/style.css}">
    <script th:src="@{/js/generalAffairs/script.js}"></script>
</th:block>

<main layout:fragment="content">

    <h1>품목 등록</h1>
    <div class="content">

    <form th:action="@{/general/products/add}" method="post" enctype="multipart/form-data">
        <!-- 물품 카테고리 드롭다운 -->
        <label for="productCategory">카테고리:</label>
        <select id="productCategory" name="productCategory">
            <option th:each="category : ${productCategories}"
                    th:value="${category}" th:text="${category}"></option>
        </select>
        <br><br>
        물품 이름 : <input type="text" name="productName" placeholder="물품이름을 입력하세요">
        <br>

        <!-- 물품 이미지 첨부 -->
        <input type="file" name="file">

        <!-- 물품 단위 드롭다운 -->
        <label for="productUnit">단위:</label>
        <select id="productUnit" name="productUnit">
            <option th:each="unit : ${productUnit}"
                    th:value="${unit}" th:text="${unit}"></option>
        </select>
        <br><br>
        물품 가격 : <input type="number" name="productPrice" placeholder="물품가격을 입력하세요">
        <br><br>
        <!-- 공급 업체 드롭다운 -->
        <label for="vendor">공급 업체:</label>
        <select id="vendor" name="vendorName">
            <option th:each="vendorName : ${vendorNames}"
                    th:value="${vendorName}" th:text="${vendorName}"></option>
        </select>

        <br><br>
        거래 여부: <input type="checkbox" id="productSelling" name="productSelling" >
        <label for="productSelling">거래 중</label>
        <br>


        <button type="submit" value="물품 등록" onclick=""> </button>

    </form>


</div>


</main>
</html>