<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<th:block layout:fragment="title">품목등록</th:block>

<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/generalAffairs/style.css}">
    <script th:src="@{/js/generalAffairs/script.js}"></script>

    <!--    추후에 css 변경 원하시면 이 태그 지우시면 됩니다.-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/hr/style.css}">
</th:block>

<style>
    /* 상단의 페이지 제목 */
    .page-title {
        text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
        color: #6B4D27;
    }
</style>

<main layout:fragment="content">
    <h1 class="page-title" style="margin-bottom: 50px;">| 품목 정보 등록</h1>
    <br>
    <div class="content">
        <div style="display: flex; justify-content: center; align-items: center;">
            <div style="flex: 1;">
                <form id="addAlert" th:action="@{/general/products/add}" method="post"
                      enctype="multipart/form-data">
                    <!-- 물품 카테고리 드롭다운 -->
                    <dl>
                        <dt><label for="productCategory">카테고리:</label></dt>
                        <dd>
                            <select style="width: 280px;" id="productCategory" name="productCategory">
                                <option th:each="category : ${productCategories}"
                                        th:value="${category}" th:text="${category}"></option>
                            </select>
                        </dd>
                    </dl>
                    <br>

                    <dl>
                        <dt>물품 이름 :</dt>
                        <dd>
                            <input style="width: 280px;" type="text" name="productName" placeholder="물품이름을 입력하세요">
                        </dd>
                    </dl>
                    <br>

                    <dl>
                        <dt>파일 선택 :</dt>
                        <dd>
                            <!-- 물품 이미지 첨부 -->
                            <input type="file" name="file">
                        </dd>
                    </dl>

                    <dl>
                        <!-- 물품 단위 드롭다운 -->
                        <dt><label for="productUnit">단위:</label></dt>
                        <dd>
                            <select style="width: 280px;" id="productUnit" name="productUnit">
                                <option th:each="unit : ${productUnit}"
                                        th:value="${unit}" th:text="${unit}"></option>
                            </select>
                        </dd>
                    </dl>
            </div>
            <br>

            <div style="flex: 1;">
                <dl>
                    <dt>물품 가격 :</dt>
                    <dd><input style="width: 280px;" type="number" name="productPrice" placeholder="물품가격을 입력하세요"></dd> 원
                </dl>
                <br>

                <dl>
                    <!-- 공급 업체 드롭다운 -->
                    <dt><label for="vendor">공급 업체:</label></dt>
                    <dd>
                        <select style="width: 280px;" id="vendor" name="vendorName">
                            <option th:each="vendorName : ${vendorNames}"
                                    th:value="${vendorName}" th:text="${vendorName}"></option>
                        </select>
                    </dd>
                </dl>
                <br>

                <dl>
                    <dt>거래 여부:</dt>
                    <dd>
                        <input type="checkbox" id="productSelling" name="productSelling">
                    </dd>
                    <dd><label for="productSelling">거래 중</label></dd>
                </dl>
                <br>
                </form>
            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
<!--            <input type="submit" value="물품 등록">-->
            <button class="commonBtn register-button" id="submitBtn" type="button"
                    th:onclick="'confirmAdd()'" onsubmit="return confirmAdd()" style="margin-right: 10px;">저장
            </button>
            <button class="commonBtn cancel-button" type="button" onclick="location.href='/general/products/list'">
                목록
            </button>
        </div>
        <br>
    </div>
    </div>
    <script>
        function confirmAdd() {
            Swal.fire({
                title: '저장 확인',
                text: '해당 정보를 수정 하시겠습니까?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('addAlert').submit();
                }
            });
        }
    </script>
</main>
</html>