<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->
<th:block layout:fragment="title">품목정보조회</th:block>
<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/generalAffairs/style.css}">
    <script th:src="@{/js/generalAffairs/script.js}"></script>
</th:block>

<main layout:fragment="content">

    <h1>품목 상세 페이지</h1>
    <div class="content">
    <div >
        <img th:src="@{${p.getFilePath()}}" alt="Product Image">

        
<!--        th:src="|/files/images/${imageFile.getStoreFileName()}|"-->



        <br>
        물품 ID : <input type="text" th:value="${p.productCode}" readonly>
        물품 ID : <input type="text" th:value="${p.fileName}" readonly>
        <br>
        물품 이름 : <input type="text" th:value="${p.productName}" readonly>
        <br>
        카테고리 : <input type="text" th:value="${p.productCategory}" readonly>
        <br>

        판매 가격 : <input type="text" th:value="${p.productPrice}" readonly> 원
        <br>
        단위 : <input type="text" th:value="${p.productUnit}" readonly>
        <br>
        공급 업체 : <input type="text" th:value="${p.getVendor().getVendorName()}" readonly>
        <br>
        전화 번호 : <input type="text" th:value="${p.getVendor().getVendorTelephone()}" readonly>
        <br>
        거래 여부 : <input type="text" th:value="${p.productSelling}" readonly>

    </div>

    <div>
        <a th:href="@{/general/products/update/{id}(id=${p.productCode})}">
            <button > 수정하기</button>
        </a>

    </div>


</div>
</main>
</html>