table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff; /* 테이블 배경색 추가 */
}

/*제목 링크 밑줄 제거*/
table a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: inherit; /* 링크 색상을 텍스트와 동일하게 설정 */
}

/* 마우스 오버 시 링크에 밑줄 표시  */
table a:hover {
    text-decoration: underline;
    color: #4CAF50;
}

/*게시글 목록 테이블 가운데 정렬*/
table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}

/* 테이블 행에 마우스 오버 시 배경색 변경 */
table tr:hover {
    background-color: #f5f5f5;
}

.forum-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    justify-content: flex-end;
}

/*검색칸 스타일*/
.search-form input[type="text"] {
    background-color: #6B4D27; /*입력칸 배경색*/
    border-color: #6B4D27;
    border-radius: 5px;
    color: white; /* 입력되는 글씨색 */
    padding: 5px;
    margin-right: 10px;
}

.search-form input[type="text"], .search-form button {
    box-shadow: none;
}

/* 플레이스홀더 스타일 변경 */
.search-form input[type="text"]::placeholder {
    color: white; /* 플레이스홀더 텍스트 색상 */
    font-weight: bold; /* 플레이스홀더 글씨 굵기 */
}

.search-form button {
    padding: 5px 15px;
    border-color: #AF9A63;
    cursor: pointer;
    background-color: #AF9A63;
    border-radius: 5px;
    color: white;
}

.forum-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff; /* 테이블 배경색 추가 */
}

/*제목 링크 밑줄 제거*/
.forum-table a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: inherit; /* 링크 색상을 텍스트와 동일하게 설정 */
}

/*마우스 오버 시 링크에 밑줄 표시*/
.forum-table a:hover {
    color: #4CAF50;
}


/*게시글 목록 테이블 가운데 정렬*/
.forum-table th, .forum-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.forum-table th {
    background-color: #f2f2f2;
}

.notice {
    font-weight: bold;
    background-color: #ffffe0; /* 공지사항 배경색 */
}

.add-post {
    text-align: right;
    padding-right: 20px;
    margin-top: 10px;
}

.add-post a {
    padding: 5px 15px;
    background-color: #4A85F6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 테이블 행에 마우스 오버 시 배경색 변경 */
.forum-table tr:hover {
    background-color: #f5f5f5;
}

/*게시글 작성 페이지~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.checkbox-container {
    display: flex; /* Flexbox 레이아웃 사용 */
    align-items: center; /* 세로축(center)으로 정렬 */
    gap: 10px; /* 체크박스와 라벨 사이의 간격 */
    padding-top: 5px;
    padding-bottom: 5px;
}

.editor-style {
    margin-top: 15px;
}

/*게시글 작성 페이지~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*게시글 상세 페이지~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.detail-page-container {
    align-items: center;
    background-color: #ffffff;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}

.detail-page-title {
    color: #6b4d27;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.detail-content-section {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
}

/*테이블 부분 스타일*/
.detail-info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* 내용과의 간격 */
}

.detail-info-table th {
    background-color: #978268; /* 제목, 조회수, 작성자, 작성 시간 칸의 배경색 */
    color: #ffffff;
    width: 130px; /* 정보 이름들의 폭 */
}

.detail-info-table td:first-child {
    white-space: normal; /* td 첫 번째 열의 텍스트 줄바꿈을 허용 */
    word-wrap: break-word; /* 긴 단어나 URL이 줄 바꿈 시 자동으로 줄바꿈 처리 */
}

/*공통 테이블 호버 효과 없애기 */
table tr:hover {
    background-color: #ffffff;
}

.detail-info-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}


/* 마우스 호버 시 색상 변경 제거 */
.detail-info-table td:hover {
    background-color: #ffffff; /* 호버 시에도 배경색 유지 */
}

/* '내용' 셀의 스타일 조정 */
.detail-post-content {
    min-height: 500px; /* 내용 부분의 최소 높이 */
    background-color: #ffffff; /* 내용 칸의 배경색 */
    padding: 0; /* 패딩 추가 */
    border-top: none; /* 상단 테두리 제거 */
    margin: 0; /* 마진 제거 */
    text-align: left;
}

/* 조회수와 작성 시간 셀에 직접 클래스를 부여하여 스타일 적용 */
.detail-info-table .views,
.detail-info-table .timestamp {
    text-align: center;
    width: 200px; /* 조회수, 작성 시간 데이터 부분 폭 길이 */
}

.detail-post-content img {
    max-width: 100%;
    height: auto;
}


.detail-comment-section {
    margin-top: 20px;
}

.detail-comment-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.detail-comment-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.detail-comment-block {
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-top: 10px;
}

.detail-comment-actions {
    margin-top: 10px;
}

.detail-edit-comment, .detail-delete-comment {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

/*수정, 삭제, 목록 버튼이 좌우로 보이도록 묶음 */
.button-group {
    display: flex;
    justify-content: center; /* 버튼들 사이에 균일한 간격을 두기 위함 */
    margin-top: 20px; /* 추가적인 상단 여백을 위함 */
    align-items: center;
}

.button-group a {
    margin-right: 10px; /* 각 링크(버튼) 사이의 간격 */
}

.button-group > div {
    display: flex;
    justify-content: center;
}


.fcommonBtn {
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    width: 70px;
    height: 30px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;

}

/* 전체글 보기 버튼 */
.listBtn {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    width: 120px;
    height: 50px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    background-color: #AF9A63;
    color: white;
}

.listBtn:hover {
    background-color: #6B4D27;
    color: white;
}

.view-all-posts a, .add-post a {
    color: white !important;
}

/*취소 버튼을 부득이하게 p태그로 사용할 경우 */
a p.fcommonBtn {
    line-height: 30px;
    display: inline-block;
    text-align: center;
    /* 글자 가운데 정렬 추가 */
}

/* 등록 */
.fregister-button {
    background: #4A85F6;
    color: #FFFFFF;
}

/* 목록 및 취소 */
.fcancel-button {
    color: #FFFFFF;
    background-color: #999;
}

/* 수정 */
.fedit-button {
    color: #FFFFFF;
    background-color: #43946f;
}

/*삭제 버튼 */
.fdelete-button {
    color: #fdf5f5;
    background-color: #FF5B5B;
}

.fregister-button:hover {
    background-color: #6a4af6;
}

.fcancel-button:hover {
    background-color: #555;
}

.fedit-button:hover {
    background-color: #316c52;
}

.fdelete-button:hover {
    background-color: #d91717;
}

/* '목록' 버튼에 대한 스타일 */
/*.button-group > a {*/
/*    flex: 1; !* 필요한 경우 flex 속성을 사용하여 조정 *!*/
/*}*/

/* '수정'과 '삭제' 버튼이 없을 때 '목록' 버튼을 중앙에 배치 */
/*.button-group > a:last-child {*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

/*게시물 상세 페이지 끝~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*페이지네이션 스타일 ~~~~~~~~~~~~~~~~~~*/
.pagination {
    display: flex;
    justify-content: center !important;
    list-style: none;
    align-items: center !important;
}


.pagination a,
.pagination strong {
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid rgb(190, 158, 124);
    border-radius: 5px;
    color: rgb(190, 158, 124);
    text-decoration: none;
    opacity: 1.0 !important;
    background-color: white;
}


.pagination a:hover {
    background-color: rgba(91, 65, 32) !important;
    color: white !important;
}


/* 현재 페이지 스타일링 */
.pagination .current-page {
    border: 3px solid rgb(150, 108, 55);
    color: rgb(150, 108, 55);
    background-color: #ffffff;
    font-weight: bold;
}

/* << >> 맨처음과 끝으로 가는 버튼 스타일 */
.pagination a:first-child,
.pagination a:last-child {
    background-color: rgb(150, 108, 55) !important;
    color: white !important;
}

/* < > 버튼 스타일링  */
.next-page {
    background-color: rgb(190, 158, 124) !important;
    color: white !important;
}

/* 페이지 번호 부분 스타일링 */
.page-number {
    color: rgb(190, 158, 124) !important;
}

/* << >> 맨처음과 끝으로 가는 버튼 스타일:hover  */
.pagination a:first-child:hover,
.pagination a:last-child:hover {
    background-color: rgb(98, 70, 36) !important;
    color: white;
}

/* Styles for disabled previous and next links */
.pagination a[disabled],
.disabled {
    color: #000000;
    pointer-events: none;
    cursor: default;
}

/*페이지네이션 스타일 끝~~~~~~~~~~~~*/