<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset='utf-8'/>
    <title>마이페이지 - 일정관리</title>
<!--    모바일 디바이스에서 웹 페이지가 올바르게 표시되고 조절되도록 하는데 사용-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="Calendar.css" />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script type="text/javascript" src="Calandar.js"></script>
</head>
<body>
<div id='calendar'></div>
</body>
</html>