<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->
<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/hr/style.css}">
    <script th:src="@{/js/hr/script.js}"></script>
</th:block>

<main layout:fragment="content">
    <h1>부서 정보 조회</h1>
    <div id="dept-container">
        <th:block th:replace="~{hr/dept/_deptInfo::info}"></th:block>
        <th:block th:replace="~{hr/dept/_deptEdit::edit}"></th:block>
        <div class="w-50" id="emp-container">
            <form><input name="name" id="name" type="text" placeholder="이름을 입력해 주세요."><button class="search-button">찾기</button></form>
            <div th:each="employee : ${employees}" th:object="${employee}">
                <th:block th:replace="~{hr/attend/_profile::profile}"></th:block>
            </div>
        </div>
    </div>

</main>
</html>