<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->
<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/hr/style.css}">
    <script th:src="@{/js/hr/script.js}"></script>
</th:block>

<style>
    /* 상단의 페이지 제목 */
    .page-title {
        text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
        color: #6B4D27;
    }
</style>

    <main layout:fragment="content">
        <h1 class="page-title" style="margin-bottom: 50px;">| 부서 목록</h1>
        <table>
            <thead>
                <tr>
                    <th>부서 번호</th>
                    <th>부서명</th>
                    <th>대표 연락처</th>
                    <th>인원</th>
                </tr>
            </thead>
            <tbody th:each="dept : ${depts}" th:object="${dept}">

                <tr th:onclick="'location.href=\'' + @{/hr/dept/{deptId}(deptId=*{deptId})} + '\''">
                    <td th:text="*{deptId}"></td>
                    <td th:text="*{deptName}"></td>
                    <td th:text="*{deptRepTel}"></td>
                    <td th:text="${dept.getRunningEmp()}"></td>
                </tr>

            </tbody>
        </table>

        <!-- 페이지네이션 -->
        <div class="pagination">
            <!-- 첫 번째 페이지로 이동 -->
            <a th:href="@{/hr/dept(page=0)}"> << </a>

            <!-- 이전 페이지로 이동 -->
            <a th:classappend="${nowPage == 1} ? 'disabled' : ''"
               class="next-page" th:href="@{/hr/dept(page=${nowPage - 2})}"> < </a>

            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-number" th:href="@{/hr/dept(page=${page - 1}, searchKeyword = ${param.searchKeyword})}" th:if="${page != nowPage}"
                   th:text="${page}"></a>
                <strong class="current-page" th:if="${page == nowPage}" th:text="${page}"></strong>
            </th:block>

            <!-- 다음 페이지 이동 -->
            <a th:classappend="${nowPage == totalPages} ? 'disabled' : ''"
               class="next-page" th:href="@{/hr/dept(page=${nowPage})}"> > </a>

            <!-- 마지막 페이지로 이동 -->
            <a th:href="@{/hr/dept(page=${totalPages - 1})}"> >> </a>
        </div>

        <button id="addBtn" class="commonBtn register-button">부서 등록</button>
        <div id="add" class="w-50 dept-table d-none">
            <form th:action="@{/hr/dept/add}" method="post" th:object="${newDept}">
                <table>
                    <tr>
                        <th>부서번호</th>
                        <td>
                            <input type="text" name="deptId" id="deptId" th:field="*{deptId}">
                        </td>
                    </tr>
                    <tr>
                        <th>부서명</th>
                        <td><input type="text" name="deptName" id="deptName" th:field="*{deptName}"></td>
                    </tr>
                    <tr>
                        <th>대표연락처</th>
                        <td><input type="text" name="deptRepTel" id="deptRepTel" th:field="*{deptRepTel}"></td>
                    </tr>
                </table>
                <button id="hideBtn" class="commonBtn cancel-button">취소</button>
                <button type="submit" id="saveBtn" class="commonBtn register-button">저장</button>
            </form>
        </div>
    </main>
</html>