<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://kit.fontawesome.com/fefbaa8eb2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/commons/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/mypage/style.css}">

    <link rel="stylesheet" type="text/css" th:each="cssFile : ${addCss}"
          th:href="@{/mypage/{file}.css(file=${file})}">
    <th:block layout:fragment="addCss"></th:block>

    <script th:src="@{/commons/script.js}"></script>
    <script th:src="@{/mypage/script.js}"></script>
    <script th:each="jsFile : ${addScript}" th:src="@{/mypage/{file}.js(file=${file})}"></script>
    <th:block layout:fragment="addScript"></th:block>

    <meta charset="UTF-8">
    <title layout:fragment="title">index</title>
</head>
<body>

<!--로그인 여부-->
<section class="right">
    <th:block sec:authorize="isAuthenticated()">
        로그인 성공
    </th:block>
    <th:block sec:authorize="isAnonymous()">
        로그인 해야함
    </th:block>
    <th:block sec:authorize="hasAuthority('A')">A권한이 있을 경우</th:block>
    <th:block sec:authorize="hasAnyAuthority('A', 'B')">A나 B 둘 중 하나라도 권한이 있을 경우</th:block>
</section>

<!--header 가져오기-->
<th:block th:replace="~{outlines/header::header}"></th:block>

<!--side 가져오기-->
<th:block th:replace="~{outlines/side::sidebar}"></th:block>

<!--메인은 여기에-->
<main layout:fragment="content">


    <main layout:fragment="content">

        <form action="/products/add" method="post">


            <!-- 물품 카테고리 드롭다운 -->
            <label for="productCategory">물품 카테고리:</label>
            <select id="productCategory" name="productCategory">
                <option th:each="category : ${productCategories}"
                        th:value="${category}" th:text="${category}"></option>
            </select>
            <br>
            물품 이름 : <input type="text" name="productName" placeholder="물품이름을 입력하세요">
            <br>
            <!-- 물품 단위 드롭다운 -->
            <label for="productUnit">물품 카테고리:</label>
            <select id="productUnit" name="productUnit">
                <option th:each="unit : ${productUnit}"
                        th:value="${unit}" th:text="${unit}"></option>
            </select>
            <br>
            물품 가격 : <input type="number" name="price" placeholder="물품가격을 입력하세요">
            <br>
            <!-- 공급 업체 드롭다운lll -->
            <label for="vendor">공급 업체:</label>
            <select id="vendor" name="vendor">
                <option th:each="vendorName : ${vendorNames}"
                        th:value="${vendorName}" th:text="${vendorName}"></option>
            </select>

            <br>
            거래 여부:
            <br>
            <br>
            <input type="checkbox" id="productSelling" name="productSelling" >
            <label for="productSelling">거래 중</label>


            <button type="submit">등록</button>

        </form>


    </main>
</main>


</body>
</html>