<!DOCTYPE html>
<!--<meta charset="UTF-8">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--<th:block layout:fragment="title">title</th:block>-->

<th:block layout:fragment="addMore">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/document/createDoc/empVerification.css}"-->
<!--          href="/static/css/document/createDoc/empVerification.css">-->

</th:block>

<main layout:fragment="content">
    <h2>지점 관리</h2>
    <hr>
    <br><br>
    <h5>지점 추가</h5>
    <br>

    <div class="row g-3 align-items-center">
        <form class="container" action="/fina/store/create" method="post">
            <div class="col-auto">
                <label for="storeName" class="col-form-label">지점명</label>
                <input type="text" id="storeName" name="storeName" placeholder="지점명" class="form-control">
            </div>

            <div>
                <label for="businessNum">사업자 번호</label>
                <input class="form-control" type="text" id="businessNum" name="businessNum"
                       placeholder="사업자 번호를 입력해주세요">
            </div>

            <div>
                <label for="storeManager" class="col-form-label">지점장</label>
                <select id="storeManager" name="storeManager">
                    <option th:each="sm :${storeManager}"
                            th:value="${sm}" th:text="${sm}"></option>
                </select>
            </div>

            <div>
                <label for="storeOpenDate" class="col-form-label">개업일</label>
                <input type="date" id="storeOpenDate" name="storeOpenDate">
            </div>

            <div>
                <label for="addNo">우편번호</label>
                <input type="text" id="addNo" name="addNo" placeholder="우편번호를 입력해주세요">
            </div>
            <div>
                <label for="storeAddr">주소</label>
                <input type="text" id="storeAddr" name="storeAddr" placeholder="주소를 입력해주세요">
            </div>
            <div>
                <label for="storeDetailAddr">상세주소</label>
                <input type="text" id="storeDetailAddr" name="storeDetailAddr" placeholder="상세주소를 입력해주세요">
            </div>
            <div>
                <label for="storeOperationalYn">운영여부</label>
                <select id="storeOperationalYn" name="storeOperationalYn">
                    <option value="storeOperationalY">운영</option>
                    <option value="storeOperationalN">미운영</option>
                </select>
            </div>
            <button class="btn btn-primary">추가</button>
            <button class="btn btn-outline-danger" type="button" onclick="location.href='/fina/store/list'">
                목록으로
            </button>
        </form>
    </div>
</main>
</html>