<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->
<title layout:fragment="title">사원정보</title>
<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/hr/style.css}">
    <script th:src="@{/js/hr/script.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</th:block>

<main layout:fragment="content">
    <th:block th:if="${name.equals('register')}">
        <th:block th:replace="~{hr/emp/_register}"></th:block>
    </th:block>
    <th:block th:if="${name.equals('edit')}">
        <th:block th:replace="~{hr/emp/_edit}"></th:block>
    </th:block>

    <script>
        function confirmAdd(storeNo) {
            Swal.fire({
                title: '등록 확인',
                text: '해당 정보를 등록 하시겠습니까?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소'
            }).then((result) => {
                if(result.isConfirmed) {
                    document.getElementById('addAlert').submit();
                }
            })
            return false;
        }
    </script>
</main>
</html>