<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<h1>로그인 여부</h1>
<section class="right">
    <th:block sec:authorize="isAuthenticated()">
        로그인 성공
    </th:block>
    <th:block sec:authorize="isAnonymous()">
        로그인 해야함
    </th:block>
    <th:block sec:authorize="hasAuthority('A')">A권한이 있을 경우</th:block>
    <th:block sec:authorize="hasAnyAuthority('A', 'B')">A나 B 둘 중 하나라도 권한이 있을 경우</th:block>
</section>

<h1> header 가져오기</h1>
<th:block th:replace="~{outlines/header::header}"></th:block>

<h1>side 가져오기</h1>
<th:block th:replace="~{outlines/side::menu}"></th:block>

<h1>메인은 여기에</h1>
<div layout:fragment="content"></div>


</body>
</html>