<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />
  <style>
    .fc-toolbar-chunk {
      display: flex;      // 일렬로 나란히
    align-items: center; // 수직 가운데 정렬
    }
    .fc .fc-button-primary, .fc:hover .fc-button-primary:hover {
      background-color: rgba(1, 1, 1, 0);
      border-color: rgba(1, 1, 1, 0);
      color: #6B4D27;
    }
    .fc-toolbar-title {
      color: #6B4D27;
    }
    #calendar {
      width: 800px;
      height: 800px;
    }
  </style>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
  <script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        height: 800,
        // aspectRatio: 4,
        initialView: 'dayGridMonth',
        headerToolbar: {
          right: '',
          center: 'prev title next',
          left: ''
        },
        // eventContent: 'some text',
        events: [
          {
            title: '출근 | 9:00',
            color:'rgba(1,1,1,0)',
            textColor: 'black',
            start: '2023-11-27'
          },
          {
            title: '퇴근 | 6:00',
            color:'rgba(1,1,1,0)',
            textColor: 'black',
            start: '2023-11-27'
          }
        ]
      });
      // calendar.setOption('aspectRatio', 4);
      calendar.render();
    });
  </script>
</head>
<body>
<div id='calendar'></div>
</body>
</html>