<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<main layout:fragment="content">
    <div>

    </div>
    <div>
        <button th:if="${startTime == null}">출근</button>
<!--        <button th:if="${endTime != null}">퇴근</button>-->
    </div>

    <div>
        출근&emsp;|&emsp;<p type="text" th:value="${startTime}"></p>
        퇴근&emsp;|&emsp;<p type="text" th:value="${endTime}"></p>
    </div>
</main>
</html>