<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/header/style.css}" type="text/css"/>

  <meta name="_csrf" th:content="${_csrf != null ? _csrf.token : ''}"/>
  <meta name="_csrf_header" th:content="${_csrf != null ? _csrf.headerName : ''}"/>

  <title>사원 목록</title>

</head>
<body>
<header class="emp-list-header-container">
  <button class="commonBtn back-button" th:onclick="'window.location.href=\'' + @{/chatRoomList} + '\''">채팅방 목록</button>
  <input type="search" placeholder="부서/사원 검색"/>
  <button id="openCreateRoomModal">채팅방 만들기</button>
</header>
<div class="chat-emp-list">
  <div th:each="deptEntry : ${groupedEmployees.entrySet()}">
    <h3 th:text="${deptEntry.key.deptName}">부서명</h3>
    <ul>
      <li th:each="emp : ${deptEntry.value}">
        <span th:text="${emp.empName}">사원 이름</span>
        <input type="checkbox" th:value="${emp.empId}" name="empCheckbox"/>
      </li>
    </ul>
  </div>
</div>

<div id="createRoomModal" class="chat-modal">
  <div class="chat-modal-content">
    <form id="createRoomForm" action="/createChatRoom" method="post">
      <div class="chat-modal-title">채팅방 이름</div>
      <input type="text" id="roomName" name="roomName" class="modal-input" required>
      <div class="modal-buttons">
        <button type="submit" class="chat-ok-btn">생성</button>
        <button type="button" class="chat-close-btn">취소</button>
      </div>
    </form>
  </div>
</div>
<script>
  // 모달 열기
  const modal = document.getElementById("createRoomModal");
  const btn = document.getElementById("openCreateRoomModal");
  btn.onclick = function () {
    modal.style.display = "block";
  }

  // 모달 닫기
  document.querySelector('.chat-close-btn').addEventListener('click', function () {
    modal.style.display = "none";
  });

  // 창 밖 클릭 시 모달 닫기
  window.onclick = function (event) {
    if (event.target === modal) {
      modal.style.display = "none";
    }
  }

  document.getElementById('createRoomForm').addEventListener('submit', function (e) {
    e.preventDefault();

    const selectedEmpIds = [];
    document.querySelectorAll('input[name="empCheckbox"]:checked').forEach(function (checkbox) {
      selectedEmpIds.push(checkbox.value);
    });

    const roomName = document.getElementById('roomName').value;
    const data = {
      roomName: roomName,
      empIds: selectedEmpIds
    };

    fetch('/createChatRoom', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-TOKEN': document.querySelector('meta[name="_csrf"]').getAttribute('content')
      },
      body: JSON.stringify(data)
    }).then(function (response) {
      return response.json();
    }).then(function (data) {
      window.location.href = '/chatRoomList';
    });
  });

</script>


</body>
</html>
