<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

  <title>Chat</title>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/header/chat.css}" />

</head>
<body>



<script th:inline="javascript">
  /*<![CDATA[*/
  function toggleEmployeeList() {
    // Toggle the visibility of the employee list
  }
  /*]]>*/
</script>
<script>
  const socket = new SockJS('/chat');
  const stompClient = Stomp.over(socket);

  stompClient.connect({}, function(frame) {
    stompClient.subscribe('/topic/messages', function(message) {
      // 메시지 수신 시 처리
      alert(JSON.parse(message.body).content);
    });
  });

  function sendMessage() {
    stompClient.send("/app/chat/send", {}, JSON.stringify({'content': 'Hello!'}));
  }
</script>
</body>
</html>
