<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->
<th:block layout:fragment="title">logistic</th:block>
<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header/style.css}">
    <script th:src="@{/js/header/script.js}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</th:block>

<main layout:fragment="content">
    <h1>Inbox</h1>
    <div class="content">

        <div class="flex h-screen">
            <div class="w-60 bg-gray-100 p-4">
                <a th:href="@{/email}">
                    <button id="mailwrite"
                            class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-blue-700/90 hover:bg-blue-700 h-10 px-4 py-2 w-full mb-4 bg-blue-500 text-white">
                        메일쓰기
                    </button>
                </a>

                <nav class="flex flex-col" id="mailboxes">


                    <a th:href="@{/email/list}">
                        <button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-black text-blue-600 hover:text-white h-10 px-4 py-2 w-full mb-2 text-left bg-blue-100">
                            받은편지함
                        </button>
                    </a>
                    <a th:href="@{/email/sentlist}">
                        <button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-black text-white hover:bg-gray-700 h-10 px-4 py-2 w-full mb-2 text-left">
                            보낸편지함
                        </button>

                    </a>


                </nav>
            </div>
            <div class="flex-1 p-4 bg-white bg-opacity-75">
                <div class="flex justify-between items-center mb-4 mt-2">
                    <h1 class="text-xl font-semibold">보낸편지함</h1>
                </div>
                <div class="overflow-auto">
                    <div class="relative w-full overflow-auto">
                        <table class="w-full caption-bottom text-sm">
                            <thead class="[&amp;_tr]:border-b">
                            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 w-[10%]"></th>
                                <th class="h-12 px-4 text-left align-middle font-bold text-muted-foreground text-lg [&amp;:has([role=checkbox])]:pr-0 w-[20%]">
                                    수신자
                                </th>
                                <th class="h-12 px-4 text-left align-middle font-bold text-muted-foreground text-lg [&amp;:has([role=checkbox])]:pr-0 w-[40%]">
                                    제목
                                </th>
                                <th class="h-12 px-4 text-left align-middle font-bold text-muted-foreground text-lg [&amp;:has([role=checkbox])]:pr-0 w-[30%]">
                                    발신일
                                </th>

                            </tr>
                            </thead>
                            <tbody class="[&amp;_tr:last-child]:border-0">
                            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
                                th:each="email : ${emails}">
                                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                                    <input type="checkbox"/>
                                </td>

                                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 font-medium"
                                    th:text="${email.getPeople()}">From
                                </td>
                                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                                    th:text="${email.getSubject()}">SUBJECT
                                </td>

                                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                                    th:text="${email.getSentDate()}">시간
                                </td>
                            </tr>

                            </tbody>


                        </table>


                        <div th:if="${emails.totalPages > 1}" class="flex justify-center mt-4">
                            <ul class="inline-flex items-center -space-x-px">
                                <li th:class="|${emails.isFirst() ? 'disabled opacity-50 cursor-not-allowed' : ''}|">
                                    <a th:href="@{/email/sentlist(page=${emails.number - 1}, size=${emails.size})}"
                                       class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white border border-r-0 border-gray-300 hover:bg-gray-100 hover:text-gray-700">Previous</a>
                                </li>
                                <li th:each="pageNum : ${#numbers.sequence(0, emails.totalPages - 1)}"
                                    th:class="|${pageNum == emails.number ? 'active bg-blue-500 text-white' : 'text-gray-700 bg-white'}|">
                                    <a th:href="@{/email/sentlist(page=${pageNum}, size=${emails.size})}"
                                       class="py-2 px-3 leading-tight border border-gray-300 hover:bg-gray-100"
                                       th:text="${pageNum + 1}"></a>
                                </li>
                                <li th:class="|${emails.isLast() ? 'disabled opacity-50 cursor-not-allowed' : ''}|">
                                    <a th:href="@{/email/sentlist(page=${emails.number + 1}, size=${emails.size})}"
                                       class="block py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">Next</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</main>


</html>