ul {
    list-style: none;
    padding: 0; margin: 0;
}
li {
    padding: 0; margin: 0;
    display: block;
}
dl {
    margin: 0; padding: 20px 0;
}
dt {
    margin: 0; padding: 0;
    display: inline-block;
    min-width: 96px;
}
dd {
    text-align: right;
    margin: 0; padding: 0;
    display: inline-block;
}
dd p {
    width: 185px;
    border-radius: 10px;
    border: 1px solid #6B4D27;
    line-height: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2px 10px;
    background-color: white;
}

textarea {
    width: 185px;
    border-radius: 10px;
    border: 1px solid #6B4D27;
    line-height: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2px 10px;
    background-color: white;
}

dd textarea {
    width: 185px;
    border-radius: 10px;
    border: 1px solid #6B4D27;
    line-height: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2px 10px;
    background-color: white;
}

#form {
    border: 1px solid #6B4D27;
    border-radius: 10px;
    padding: 40px 100px;
}
p {
    margin: 0;
}
.photos {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 50px;
}
.photo img{
    display: block;
    width: 120px;
    height: 120px;
    border: 1px solid #6B4D27;
    border-radius: 10px;

}
#formSection {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    gap: 80px;
}
#formSection section:first-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#formSection section dl {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#formSection section:nth-child(2) {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/** 포지션 드롭다운 셀렉박스 */
input[type='checkbox'].selectbox {display: none;}
.selectbox+label {
    display: block;
    border-radius: 10px;
    width: 185px;
    border: 1px solid #6B4D27;
    height: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    position:relative;
    background-color: white;
}
.drop{
    position: absolute;
    top: 5px;
    right: 10px;
}
#options1, #options2 {
    position: absolute;
    max-height: 200px;
    overflow-y: scroll;
    width: 185px;
    display: none;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #6B4D27;
    z-index: 5;
}
.option1, .option2 {
    padding: 5px;
    text-align: center;
}
.option1:hover, .option2:hover {
    background-color: #ddd;
}

input[name="postNo"]~div, input[name="addr"]~div {
    margin-bottom: 10px;
}
#searchPostBtn {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #6B4D27;
    color: white;
    border-radius: 10px;
}


/** 하단 버튼 */

.btns {
    text-align: center;
}
.commonBtn {
    margin: 40px 10px 0 10px;
}
a p.commonBtn {
    line-height: 50px;
    display: inline-block;
}

.search {
    margin-bottom: 30px;
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff; /* 테이블 배경색 추가 */
}
/*제목 링크 밑줄 제거*/
table a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: inherit; /* 링크 색상을 텍스트와 동일하게 설정 */
}

/* 마우스 오버 시 링크에 밑줄 표시  */
table a:hover {
    text-decoration: underline;
    color: #4CAF50;
}

/*게시글 목록 테이블 가운데 정렬*/
table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
table th {
    background-color: #f2f2f2;
}
/* 테이블 행에 마우스 오버 시 배경색 변경 */
table tr:hover {
    background-color: #f5f5f5;
}

/* 부서 관리 디테일 페이지 */
#dept-container {
    display: flex;
    max-width: 1400px;
}
#dept-container .dept-table {
    padding-top: 200px;
    padding-right: 40px;
}
#dept-container > div:last-of-type {
    text-align: center;
    min-width: 420px;
}

#emp-container input {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 40px;
}
#dept-container button {
    display: inline-block;
}
.profile-box {
    border-bottom: 1px solid #6B4D27;
    font-size: 14px;
}
#profile-box:last-child > div:last-child{
    min-width: 240px;
}
#emp-container {
    padding: 40px;
    height: calc(100vh - 150px);
    border: 3px solid #6B4D27;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 700px;
}
#emp-container div {
    padding: 0 20px 10px;
}
#emp-container p {
    padding-top: 10px;
    white-space: nowrap;
}

/*부서 등록*/
#add {
    margin-top: 20px;
}

/* 에러표시 */
.error {
    color: red;
    font-size: 13px;
}

#form label, .search label {
    display: inline-block;
}

/*페이지네이션 스타일 ~~~~~~~~~~~~~~~~~~*/
.pagination {
    display: flex;
    justify-content: center !important;
    list-style: none;
    align-items: center !important;
}


.pagination a,
.pagination strong {
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid rgb(190, 158, 124);
    border-radius: 5px;
    color: rgb(190, 158, 124);
    text-decoration: none;
    opacity: 1.0 !important;
    background-color: white;
}


.pagination a:hover {
    background-color: rgba(91, 65, 32) !important;
    color: white !important;
}


/* 현재 페이지 스타일링 */
.pagination .current-page {
    border: 3px solid rgb(150, 108, 55);
    color: rgb(150, 108, 55);
    background-color: #ffffff;
    font-weight: bold;
}

/* << >> 맨처음과 끝으로 가는 버튼 스타일 */
.pagination a:first-child,
.pagination a:last-child {
    background-color: rgb(150, 108, 55) !important;
    color: white !important;
}

/* < > 버튼 스타일링  */
.next-page {
    background-color: rgb(190, 158, 124) !important;
    color: white !important;
}

/* 페이지 번호 부분 스타일링 */
.page-number {
    color: rgb(190, 158, 124) !important;
}

/* << >> 맨처음과 끝으로 가는 버튼 스타일:hover  */
.pagination a:first-child:hover,
.pagination a:last-child:hover {
    background-color: rgb(98, 70, 36) !important;
    color: white;
}

/* Styles for disabled previous and next links */
.pagination a[disabled],
.disabled {
    color: #000000;
    pointer-events: none;
    cursor: default;
}

/*페이지네이션 스타일 끝~~~~~~~~~~~~*/