/*메일 페이지~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*메일 보내기 페이지*/
#mailwrite {
    margin-top: 10px;
}

#mailboxes {
    margin-top: 20px;
}

/*메일 전송 완료 페이지*/
/* 목록 및 메일쓰기 */
.graybutton {
    margin: 15px 5px;
    line-height: 27px;
    width: 90px;
    height: 30px;
    border: 1px solid #E6E6EA;

    border-radius: 10px;
    cursor: pointer;
    color: #767678;
    background-color: #fff;


}

.graybutton:hover {
    background-color: #F2F2F4; /* 호버 시 배경 색상을 변경합니다. */
}

/*메일 페이지 끝~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*채팅 관련 페이지~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*채팅 사원 목록 페이지 시작~~~~~~~~~~~~~~~~~~~~~~~*/


/* 헤더 컨테이너 스타일링 */
.emp-list-header-container {
    display: flex;
    position: fixed;
    top: 8px;
    left: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 1000;
}

/* 채팅방 목록으로 가는 버튼 스타일링 */
.chat-back-button {
    background-color: #999; /* 파란색 배경 */
    color: white; /* 흰색 글씨 */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.chat-back-button:hover {
    background-color: #727272; /* 마우스 오버 시 색상 변경 */
}

/* 채팅방 만들기 버튼 스타일링 */
#openCreateRoomModal {
    background-color: #4A85F6; /* 녹색 배경 */
    color: white; /* 흰색 글씨 */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#openCreateRoomModal:hover {
    background-color: #4378da; /* 마우스 오버 시 색상 변경 */
}

/* 검색 폼 스타일링 */
.emp-search-form {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-right: 20px; /* 우측 여백 */
    padding-top: 45px; /* 헤더 아래 여백 */
}

.emp-search-form input[type="search"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.emp-search-form .search-button {
    padding: 10px 20px;
    background-color: #AF9A63;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.emp-search-form .search-button:hover {
    background-color: #8f8054;
}


/* 검색창 스타일링 */
input[type="search"] {
    flex-grow: 1; /* 검색창이 가능한 공간을 모두 채우도록 함 */
    margin-right: 10px; /* 오른쪽 여백 추가 */
    text-align: center;
}

/* 사원 목록 스타일링 */
.chat-emp-list {
    padding-top: 10px; /* 헤더 높이만큼 패딩을 줘서 내용이 가려지지 않도록 함 */
    background-color: #ffffff; /* 목록의 배경색 */
    padding-bottom: 20px;
    padding-right: 20px; /* 오른쪽에도 검정색 배경이 보이도록 패딩 추가 */
}

/* 부서 제목 스타일링 */
.chat-emp-list h3 {
    background-color: #6B4D27; /* 부서 제목의 배경색 */
    color: #fff; /* 흰색 글씨 */
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #777;
    border-radius: 5px;
}

/* 사원 이름 목록 스타일링 */
.chat-emp-list li {
    background-color: #fff; /* 흰색 배경 */
    list-style-type: none; /* 목록 스타일 제거 */
    padding: 10px;
    border-bottom: 1px solid #b4b4b4; /* 경계선 */
    display: flex; /* Flexbox를 사용하여 체크박스와 이름을 나란히 배치 */
    justify-content: space-between; /* 요소들을 양 끝에 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

.chat-emp-list li span {
    flex: 1; /* 사용 가능한 공간 모두 채우기 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

/* 체크박스 스타일링 */
.chat-emp-list input[type="checkbox"] {
    margin: 0; /* 체크박스 주변 여백 제거 */
}

/* 모달 컨테이너 */
.chat-modal {
    display: none; /* 기본적으로 숨겨진 상태 */
    position: fixed; /* 화면에 고정 */
    z-index: 1; /* 다른 요소들 위에 나타나도록 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    overflow: auto; /* 내부 콘텐츠가 넘칠 경우 스크롤 */
    background-color: rgb(0,0,0); /* 약간 어두운 배경 */
    background-color: rgba(0,0,0,0.4); /* 약간 투명한 배경 */
}

/* 모달 제목 스타일링 */
.chat-modal-title {
    font-size: 20px;
    margin-bottom: 15px; /* 제목과 인풋 사이의 간격 */
}
/* 모달 내용 */
.chat-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 페이지 중앙에 위치 */
    padding: 20px;
    width: 40%; /* 적절한 너비 조정 */
    text-align: center; /* 모든 내용을 중앙에 배치 */
    border-radius: 5px;
}

/* 모달 입력창 스타일링 */
.modal-input {
    width: 80%; /* 인풋 너비를 모달 너비에 맞춤 */
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px; /* 인풋과 버튼 사이 간격 */
    box-sizing: border-box
}

.modal-buttons {
    margin-top: 5px; /* 인풋과 버튼 사이 간격 */
    text-align: center; /* 버튼들을 중앙에 배치 */
}

/* 확인 버튼 스타일링 */
.chat-ok-btn {
    padding: 10px 20px;
    margin-right: 10px; /* 확인 버튼과의 간격 */
    background-color: #4A85F6;
    color: white; /* 흰색 글씨 */
    border: none;
    border-radius: 4px; /* 둥근 모서리 */
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.chat-ok-btn:hover {
    background-color: #471fff; /* 호버 시 좀 더 어두운 빨간색 */
}

/* 닫기 버튼 스타일링 */
.chat-close-btn {
    padding: 10px 20px;
    margin-left: 10px; /* 확인 버튼과의 간격 */
    background-color: #f44336; /* 빨간색 배경 */
    color: white; /* 흰색 글씨 */
    border: none;
    border-radius: 4px; /* 둥근 모서리 */
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.chat-close-btn:hover {
    background-color: #d32f2f; /* 호버 시 좀 더 어두운 빨간색 */
}

/*채팅 사원 목록 페이지 끝~~~~~~~~~~~~~~~~~~~~~~~*/

/*채팅방 목록 페이지 ~~~~~~~~~~~~~~~~~~~~~~~*/

/* 채팅방 목록 전체에 적용되는 스타일 */
#chat-room-list .chat-room {
     background-color: #6B4D27;
     border: 1px solid #6B4D27;
     border-radius: 8px;
     margin: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px;
 }

#chat-room-list .chat-room-logo {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    margin-right: 15px;
}

#chat-room-list .chat-room-info {
    flex-grow: 1;
}

#chat-room-list .chat-room-name {
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

#chat-room-list .chat-room-action button {
    padding: 5px 10px; /* 버튼 내부 여백 조정 */
    background-color: #6B4D27; /* 버튼 배경색 */
    border: none; /* 버튼 테두리 제거 */
    box-shadow: none; /* 버튼 그림자 제거 */
    color: white; /* 버튼 글자색 */
    cursor : pointer;
}

#chat-room-list .chat-room-action button i {
    font-size: 2em; /* 아이콘 크기 조정 */
}


/*채팅방 목록 페이지 끝 ~~~~~~~~~~~~~~~~~~~~~~~*/

/*채팅방 페이지 ~~~~~~~~~~~~~~~~~~~~~~~*/

.header-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center; /* 전체 헤더를 가운데 정렬 */
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: white; /* 스크롤 시 배경이 보이는 것을 방지 */
    z-index: 1000; /* 다른 요소 위에 헤더가 오도록 설정 */
}

.back-button {
    position: absolute;
    left: 10px; /* 왼쪽에 위치 */
    border: none;
    background: none;
    cursor: pointer;
    font-size: 30px;
}

.chat-room-title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
    flex-grow: 1; /* 제목 영역 확장 */
}

#chat-room {
    width: 100%; /* 전체 폭 사용 */
    padding-top: 60px;
    padding-bottom: 60px;
}

.chat-message-other {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

/* 로그인한 사용자의 메시지 스타일링 */
.chat-message-mine {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* 메시지 내용과 날짜를 포함하는 컨테이너 */
.chat-message-container {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

/* 로그인한 사용자의 메시지 컨테이너 스타일링 */
.chat-message-mine .chat-message-container {
    flex-direction: row-reverse; /* 날짜와 메시지 순서 반전 */
}

/* 메시지 내용 스타일링 */
.chat-message-content {
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-right: 10px; /* 메시지와 날짜 사이 간격 */
}

/* 로그인한 사용자의 메시지 내용 스타일링 */
.chat-message-mine .chat-message-content {
    background-color: #007bff;
    color: white;
    border: none;
}

/* 날짜 스타일링 */
.chat-message-date {
    color: #888;
    font-size: 0.8em;
    padding-right: 5px;
    align-self: center; /* 날짜를 메시지 내용과 같은 라인에 정렬 */
}

/* 발신자 이름 스타일 */
.chat-message-sender-name {
    margin-bottom: 5px; /* 이름과 메시지 사이의 간격 */
}
/* 채팅 푸터 스타일링 */
.chat-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ccc;
    padding: 10px 20px;
    box-sizing: border-box;
}

/* 메시지 입력 폼 스타일링 */
#messageForm {
    display: flex;
    width: 100%;
}

/* 메시지 입력 필드 스타일링 */
.messageForm-input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

/* 메시지 전송 버튼 스타일링 */
.messageForm-button {
    white-space: nowrap;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.messageForm-button:hover {
    background-color: #0056b3;
}


/*채팅방 페이지 끝~~~~~~~~~~~~~~~~~~~~~~~*/
/*채팅 관련 페이지 끝~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* 개인 정보 수정 페이지 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.ul-custom {
    list-style: none;
    padding: 0;
    margin: 0;
}

.li-custom {
    padding: 0;
    margin: 0;
    display: block;
}

.dl-custom {
    margin: 0;
    padding: 20px 0;
}

.dt-custom {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.dd-custom {
    text-align: right;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.dd-custom p {
    width: 185px;
    border-radius: 10px;
    border: 1px solid #6B4D27;
    line-height: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2px 10px;
}

.form-custom {
    border-bottom: 1px solid #6B4D27;
    padding: 40px 100px;
}

.p-custom {
    margin: 0;
}

.photos-custom {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 50px;
}

.photo-custom img {
    width: 120px;
    height: 120px;
    border: 1px solid #6B4D27;
    border-radius: 10px;
}

/* 폼 섹션 스타일 */
.formSection-custom {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    gap: 80px;
}

.formSection-custom section:first-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formSection-custom section .dl-custom {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.formSection-custom section:nth-child(2) {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 드롭다운 셀렉트 박스 스타일 */
.selectbox-custom {
    display: none;
}

.selectbox-custom + label {
    display: block;
    border-radius: 10px;
    width: 185px;
    border: 1px solid #6B4D27;
    height: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    position: relative;
}

.drop-custom {
    position: absolute;
    top: 5px;
    right: 10px;
}

.options1-custom, .options2-custom {
    position: absolute;
    height: 150px;
    width: 185px;
    display: none;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #6B4D27;
    z-index: 5;
}

.option1-custom, .option2-custom {
    padding: 5px;
    text-align: center;
}

.option1-custom:hover, .option2-custom:hover {
    background-color: #ddd;
}

/* 우편번호 스타일 */
.postNo-custom {
    display: inline-block !important;
    width: 150px;
}

.postNo-custom + span {
    cursor: pointer;
    background-color: #ddd;
    display: inline-block;
    padding: 6px;
    border-radius: 10px;
}

/* 하단 버튼 스타일 */
.button-custom {
    margin: 40px 10px 0 10px;
}

.btns-custom {
    text-align: center;
}

a p.commonBtn-custom {
    line-height: 50px;
    display: inline-block;
}

/*개인 정보 수정 페이지 끝~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/