<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{forum/layouts/main}">

<title layout:fragment="title">전사 게시판</title>
<main layout:fragment="content">
    <h1>게시판</h1>
    <form th:action="@{/forum/post}" method="post">
        <div>
            <label for="title">제목:제목입당</label>
            <input type="text" id="title" name="title" required />
        </div>
        <div>
            <label for="content">내용:</label>
            <textarea id="content" name="content" required></textarea>
        </div>
        <div>
            <button type="submit">포스트</button>
        </div>
    </form>
</main>



</html>

