<!DOCTYPE html>
<html layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<title layout:fragment="title">게시글 작성</title>

<th:block layout:fragment="addMore">

    <link rel="stylesheet" th:href="@{/css/forum/style.css}" type="text/css">
    <script th:src="@{/js/forum/script.js}"></script>

</th:block>

<style>
    /* 상단의 페이지 제목 */
    .page-title {
        text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
        color: #6B4D27;
    }
</style>

<main layout:fragment="content">
    <!--    페이지 제목 -->
    <h1 class="page-title" style="margin-bottom: 50px;">| 게시글 등록</h1>
    <!--    글쓰기 폼 -->
    <form method="post" th:action="@{/forum/add}" onsubmit="saveEditorContent()">
        <!-- 제목 입력란 -->
        <span style="float: left">제목 : </span>
        <input style="margin-left: 50px;" id="postTitle" placeholder="제목을 입력해주세요" required th:field="*{post.postTitle}" type="text">

        <!-- 공지사항 체크박스: 총무부 직원일 경우에만 표시 -->
        <div class="checkbox-container" th:if="${isGADepartment || isBoss}">
            <input id="postNotice" name="postNotice" th:checked="${post.postNotice}" type="checkbox">
            <label for="postNotice">공지로 등록</label>
        </div>

        <!-- 에디터의 메인 컨테이너. 내용이 들어감 -->
        <div id="editor" class="editor-style"></div>

        <!-- 에디터의 내용을 db로 저장하기 위한 숨겨진 input 필드 -->
        <input id="editor_content" name="postContent" type="hidden">

        <!-- 제출 버튼 -->
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
            <button class="commonBtn register-button" type="submit" style="margin-right: 15px;">작성</button>
            <!--        취소를 누르면 게시판 페이지로 -->
<!--            <a href="/forum">-->
<!--                <p class="commonBtn cancel-button">취소</p>-->
<!--            </a>-->
            <button class="commonBtn cancel-button" type="button" onclick="location.href='/forum'">취소</button>
        </div>
    </form>
    <!--토스트 글쓰기 에디터 스크립트 -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeaderName = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');


        const editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            height: '500px',                        // 에디터 영역의 높이 값 (OOOpx || auto)
            initialEditType: 'wysiwyg',            // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
            initialValue: '',                       // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
            previewStyle: 'vertical',               // 마크다운 프리뷰 스타일 (tab || vertical)
            /* start of hooks */
            hooks: {
                async addImageBlobHook(blob, callback) {
                    try {
                        const formData = new FormData();
                        formData.append('image', blob);

                        const response = await fetch('/tui-editor/image-upload', {
                            method: 'POST',
                            headers: {
                                [csrfHeaderName]: csrfToken // CSRF 토큰을 헤더에 추가
                            },
                            body: formData,
                        });

                        const filename = await response.text();
                        console.log('서버에 저장된 파일명 : ', filename);

                        const imageUrl = `/tui-editor/image-print?filename=${filename}`;
                        callback(imageUrl, 'image alt attribute');
                    } catch (error) {
                        console.error('업로드 실패 : ', error);
                    }
                }
            }
            /* end of hooks */
        });
    </script>
    <script>
        // form 제출 시 호출될 함수
        function saveEditorContent() {
            // 에디터의 HTML 내용을 가져옴. 이것을 통해서 에디터의 내용을 인식하고 저장할 수 있다
            document.getElementById('editor_content').value = editor.getHTML(); // 숨겨진 input 필드에 설정.
        }
    </script>
</main>
</html>