<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<!--title-->
<!--<th:block layout:fragment="title">메인 </th:block>-->
<th:block layout:fragment="addMore">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.10/index.global.min.js'></script>

</th:block>

<main layout:fragment="content">
    <ul>
        <li class="rooms" id="ROOM1">ROOM1</li>
        <li class="rooms" id="ROOM2">ROOM2</li>
        <li class="rooms" id="ROOM3">ROOM3</li>
        <li class="rooms" id="ROOM4">ROOM4</li>
    </ul>
    <div id='scheduler'></div>

    <div class="customModal" id="bookingModal" style="display: none;">
        <form id="bookingForm">
            회의실 선택
            <select id="room" name="room">
                <option th:each="room : ${rooms}" th:value="${room}" th:text="${room}"></option>
            </select>

            예약자
            <input th:if="${emp != null}" type="text" th:value="${emp.empName}" disabled>

            회의 제목
            <input type="text" id="confName">

            진행일자
            <input type="date" id="runningDay">

            시작시간
            <input type="time" id="startTime">

            종료시간
            <input type="time" id="endTime">

            블록 색상
            <select id="color" name="color">
                <option onclick="" value="#f00">red</option>
                <option value="#000">black</option>
                <option value="#00f">blue</option>
                <option value="#0f0">green</option>
            </select>

            메모
            <textarea id="text"></textarea>

            <button>등록</button>
        </form>
    </div>

    <div class="customModal" id="showModal" style="display: none;">
        <div>
            <h2>회의실 예약 관리</h2>
            <dl>
                <dt>회의실 선택</dt>
                <dd><p id="sRoom"></p></dd>
            </dl>
            <dl>
                <dt>신청 부서</dt>
                <dd><p id="dept"></p></dd>

                <dt>신청자</dt>
                <dd><p id="empName"></p></dd>
            </dl>
            <dl>
                <dt>사용 일자</dt>
                <dd><p id="sRunningDay"></p></dd>

                <dt>Time Slot</dt>
                <dd>
                    <p id="sStartT"></p>
                    <p id="sEndT"></p>
                </dd>
            </dl>

            <dl>
                <dt>회의명</dt>
                <dd id="sConfName"></dd>
            </dl>
            <dl>
                <dt>사용 목적</dt>
                <dd><p id="sMemo"></p></dd>
            </dl>
        </div>
    </div>

    <script>

        $(document).ready(function () {
            let roomId = "ROOM1";

            // 리소스 데이터 요청
            let req1 = $.ajax({
                url: "/mypage/conf/room",
                type: "GET",
                dataType: "json"
            });
            // 이벤트 데이터 요청
            let req2 = $.ajax({
                url: "/mypage/conf/list",
                type: "GET",
                dataType: "json"
            });

            // 두 개의 ajax 요청이 완료될 때까지 대기
            $.when(req1, req2).done(function (rooms, list) {
                // 기본 view는 ROOM1
                let resources = rooms[0];
                let bookList = list[0];

                let events = [];
                for(let book of bookList) {
                    if(book.room == "ROOM1") {
                        console.log(book.room)
                        let event = {
                            id: book.confId,
                            resourceId: book.room,
                            start: book.runningDay + 'T' + book.startTime,
                            end: book.runningDay + 'T' + book.endTime,
                            title: book.confName,
                            color: book.color,
                        }
                        events.push(event);
                    }
                }

                console.log(events);


                // FullCalendar 라이브러리 사용
                var calendar = new FullCalendar.Calendar($('#scheduler')[0], {
                    initialView: 'timeGridWeek', // 기본 뷰 설정
                    slotMinTime: '08:00:00',
                    slotMaxTime: '20:00:00',
                    allDaySlot: false,
                    resources: resources,
                    selectable: true,
                    events: events,
                    eventRender: function (info) {
                        // 각 이벤트에 대한 스타일 지정
                        info.el.style.backgroundColor = info.event.extendedProps.color || 'lightgray'; // 기본값은 lightgray
                    },
                    eventClick: function (info) {
                        console.log("인포!!:" + JSON.stringify((info)))
                        alert('Event clicked: ' + info.event.title);

                        let data = {
                            title: info.event.title,
                            start: info.event.start,
                            end: info.event.end,
                            id: info.event.id,
                            resourceId: info.resourceIds[0],

                        }

                        showBookingPopup(info);
                    },
                    select: function(info) {
                        alert('Selected: ' + info.startStr + ' to ' + info.endStr);
                        alert('Resource ID: ' + roomId);
                        let data = [info.startStr, info.startStr, info.endStr]

                        showBookingPopup(data);
                    }
                });

                calendar.render();

                $(".rooms").click((e) => {
                    let id = e.target.innerText
                    roomId = id;

                    let eventData = [];
                        console.log(id + " clicked")
                        for(let book of bookList) {
                            if (book.room == id) {
                                let event = {
                                    id: book.confId,
                                    resourceId: id,
                                    start: book.runningDay + 'T' + book.startTime,
                                    end: book.runningDay + 'T' + book.endTime,
                                    title: book.confName,
                                    color: book.color,
                                }
                                console.log(event)
                                eventData.push(event);
                            }
                        }
                        // FullCalendar의 events 옵션 업데이트
                        calendar.setOption('events', eventData);
                        calendar.rerenderEvents();
                });

            }).fail(function(error) {
                // 에러처리
                alert(error.message);
            })



            // 예약하기 모달창 띄우기
            function showBookingPopup(info) {
                let modal = $('#bookingModal')

                $('#room').val(roomId);
                $('#runningDay').val(dateFormat(info[0]));
                $('#startTime').val(timeFormat(info[1]));
                $('#endTime').val(timeFormat(info[2]));

                console.log(info)
                modal.css('display', 'block');
            }

            // 예약 조회 모달창 띄우기



            // 예약 생성
            $('#bookingForm').submit(function(e) {
                e.preventDefault();

                //폼데이터 가져오기
                let jsonData = {};
                jsonData.room = ($('#room').val());
                jsonData.confName = ($('#confName').val());
                jsonData.runningDay = ($('#runningDay').val());
                jsonData.startTime = ($('#startTime').val());
                jsonData.endTime = ($('#endTime').val());
                jsonData.text = ($('#text').val());
                jsonData.color = ($('#color').val());

                console.log(jsonData)

                // Ajax 요청
                $.ajax({
                    url: '/mypage/conf/add',
                    type: 'POST',
                    data: JSON.stringify(jsonData),
                    contentType: 'application/json',
                    success: function(rep) {
                        console.log('성공')

                        Swal.fire({
                            icon: "success",
                            title: "Your work has been saved",
                            showConfirmButton: false,
                            timer: 1500
                        })
                        .then(() => {
                            location.reload();
                        })

                    },
                    error: function (err) {
                        console.log( err.message)
                    }

                })
            })



        });
        function dateFormat(date) {
            // date input에 넣을 값을 YYYY-MM-DD 형식으로 생성
            let formattedDate = date.substring(0, 10);
            return formattedDate;
        }

        function timeFormat(time) {
            // time input에 넣을 값을 YYYY-MM-DD 형식으로
            let formattedtime = time.toString().slice(11, 19);
            return formattedtime;
        }

        // function changeRoom (e) {
        //     roomId = e.textContent;
        //
        //     $('#ROOM1').css('background-color', 'transparent');
        //     $('#ROOM2').css('background-color', 'transparent');
        //     $('#ROOM3').css('background-color', 'transparent');
        //     $('#ROOM4').css('background-color', 'transparent');
        //
        //     $(e).css('background-color', 'red')
        //
        //     updateCalendar();
        //
        //     // calendar.setOption('events', eventData);
        // }


    </script>

</main>

</html>