<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<!--title-->
<!--<th:block layout:fragment="title">메인 </th:block>-->
<th:block layout:fragment="addMore">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.10/index.global.min.js'></script>

</th:block>

<main layout:fragment="content">
    <div id='scheduler'></div>

    <div id="bookingModal" style="display: none;">
        <form id="bookingForm">
            회의실 선택
            <select id="room" name="room">
                <option th:each="room : ${rooms}" th:value="${room}" th:text="${room}"></option>
            </select>

            예약자
            <input th:if="${emp != null}" type="text" th:value="${emp.empName}" disabled>

            회의 제목
            <input type="text" id="confName">

            진행일자
            <input type="date" id="runningDay">

            시작시간
            <input type="time" id="startTime">

            종료시간
            <input type="time" id="endTime">

            블록 색상
            <select id="color" name="color">
                <option value="red">red</option>
                <option value="black">black</option>
                <option value="blue">blue</option>
                <option value="purple">purple</option>
            </select>

            메모
            <textarea id="text"></textarea>

            <button>등록</button>
        </form>
    </div>

    <script>


    $(document).ready(function () {
        // 리소스 데이터 요청
        let req1 = $.ajax({
            url: "/mypage/conf/room",
            type: "GET",
            dataType: "json"
        });
        // 이벤트 데이터 요청
        let req2 = $.ajax({
            url: "/mypage/conf/list",
            type: "GET",
            dataType: "json"
        });

        // 두 개의 ajax 요청이 완료될 때까지 대기
        $.when(req1, req2).done(function (rooms, list) {
            let roomList = list[0];
            let events = [];
            for(let room of roomList) {
                events.push(room);
            }
            console.log(events);


            let resources = rooms[0];

            // FullCalendar 라이브러리 사용
            var calendar = new FullCalendar.Calendar($('#scheduler')[0], {
                schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                // initialView: 'resourceTimelineDay', // 기본 뷰 설정
                initialView: 'resourceTimeGridDay',
                resources: resources,
                selectable: true,
                events: events,
                eventClick: function (info) {
                    alert('Event clicked: ' + info.event.title);
                    showBookingPopup(info);
                },
                select: function(info) {
                    alert('Selected: ' + info.startStr + ' to ' + info.endStr);
                    alert('Resource ID: ' + info.resource.id);
                    let infomation = [info.startStr, info.startStr, info.endStr]

                    showBookingPopup(infomation);
                }

            });

            calendar.render();

        }).fail(function(error) {
            // 에러처리
            alert(error.message);
        })

        function showBookingPopup(info) {
            let modal = $('#bookingModal')

            $('#runningDay').val(dateFormat(info[0]));
            $('#startTime').val(timeFormat(info[1]));
            $('#endTime').val(timeFormat(info[2]));

            console.log(info)
            modal.css('display', 'block');
        }


        $('#bookingForm').submit(function(e) {
            e.preventDefault();

            //폼데이터 가져오기
            let jsonData = {};
            jsonData.room = ($('#room').val());
            jsonData.confName = ($('#confName').val());
            jsonData.runningDay = ($('#runningDay').val());
            jsonData.startTime = ($('#startTime').val());
            jsonData.endTime = ($('#endTime').val());
            jsonData.text = ($('#text').val());
            jsonData.color = ($('#color').val());

            console.log(jsonData)

            // Ajax 요청
            $.ajax({
                url: '/mypage/conf/add',
                type: 'POST',
                data: jsonData,
                contentType: 'application/json',
                success: function(rep) {
                    console.log('성공')
                },
                error: function (err) {
                    console.log( err.message)
                }
            })
        })



    });
    function dateFormat(date) {
        // date input에 넣을 값을 YYYY-MM-DD 형식으로 생성
        let formattedDate = date.substring(0, 10);
        return formattedDate;
    }

    function timeFormat(time) {
        // time input에 넣을 값을 YYYY-MM-DD 형식으로
        let formattedtime = time.toString().slice(11, 19);
        return formattedtime;
    }





    </script>

</main>

</html>