.content {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: 1px solid #6B4D27;
    border-radius: 10px;
    background-color: rgba(255, 255, 255,0.75);
    min-height: 800px
}

/*목록 페이지의 표에 대한 스타일 적용*/
.list-table {

    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #6B4D27;
    font-size: 18px;
    text-align: center;

}


.list-table th,
.list-table td {
    padding: 12px 15px;

}

.list-table td {
    border-top: 1px solid #6B4D27

}

.list-table tfoot {
    font-weight: bold;

}


.list-table tbody tr:last-child:hover {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #AF9A63;
    /*background-color: #6B4D27;*/
    color: #fff;
}


.list-table tbody tr:hover {
    background-color: #AF9A63;
    color: #fff;
}

/*표 상에서 hover했을 때, */
.list-table tbody tr:hover td a{
    color: #fff !important;
}









/*디테일 페이지의 표에 대한 스타일 적용*/
.detail-table {

    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #6B4D27;
    font-size: 18px;
    text-align: center;


}
.detail-table tfoot tr:first-child td {
    border-top: 3px solid black;
}


.detail-table th,
.detail-table td {
    padding: 12px 15px;

}

.detail-table td {
    border-top: 1px solid #6B4D27

}
.detail-table tfoot {
    font-weight: bold;

}



/*타임리프와 JS연동된 form 부분에 있는 표에 대한 스타일 적용*/
#contentTable {

    width: 80%;
    margin: 100px auto;
    border-radius: 20px;
    background-color: #6B4D27;
    color: #FFF;

}

#contentTable th, #contentTable td {
    padding: 12px 15px;
    text-align: center;
    border-top: 1px solid #FFF;
}


.right-top-btn{

    width:100%;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;


}
/*왼쪽으로 정렬*/
.left-align{
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    margin-left: 160px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

}
.left-align input[type="checkbox"] {
    width: 24px; /* 체크박스의 크기를 조절 */
    height: 24px;
    margin-right: 10px; /* 체크박스와 글자 사이의 간격을 조절 */
}


/*재고 목록에서 첫번째 줄*/

.one-line {
    width: 100%;
    margin-top: 70px;

    display: flex;
    justify-content: space-between; /* 자식 요소들을 양쪽 끝에 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
}

.one-line form {
    display: flex;
    align-items: center;
    margin-left: 160px;

}

/*검색창을 조절하자*/
form input[type="text"] {
    height: 40px; /* 원하는 높이로 조절 */
    width: 500px; /* 원하는 가로 길이로 조절 */
    margin-right: 10px; /* input과 button 사이의 간격을 조절 */
    padding: 5px;
    background-color: #6B4D27;
    color: white;
}
form input[type="text"]::placeholder {
    color: white;
    text-indent: 13px;

}

.search {
    background-color: white;
    height: 40px;
    color: #AF9A63;
    border: 1px #AF9A63 solid;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


/** ----- 버튼 S------ */
/*버튼 위치설정*/
.right-top-btn{

    width:100%;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;


}

/*스위치 버튼의 위치*/

.top-btn {
    margin-top: 70px;

    width: 100%;
    text-align: center;
}

.top-btn button {
    margin: 0 10px;
}



.middle-btn {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.middle-btn button {
    margin: 0 10px;
}

.wideBtn {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    width: 300px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

}

.switch-button1 {
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #AF9A63;
}
.switch-button1:hover {
    background-color: #6B4D27; /* hover 시 배경색을 starducks 대표 색상으로 변화시킨다. */
}

.switch-button2 {

    color: #AF9A63;

    background-color: #FFFFFF;
    border: 1px solid #AF9A63;
    border-radius: 10px;
}

.switch-button2:hover {
    color: #ffffff;
    background-color: #6B4D27;
    /* hover 시 선택된 항목처럼 색상을 변화시킨다.*/
}


/* 버튼 공통 디자인 */
.commonBtn {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    width: 120px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;

}

/*취소 버튼을 부득이하게 p태그로 사용할 경우 */
a p.commonBtn {
    line-height: 50px;
    display: inline-block;
    text-align: center;
    /* 글자 가운데 정렬 추가 */
}

/* 등록 */
.register-button {


    background: #4A85F6;
    color: #FFFFFF;
    margin-right: 160px;

}

/* 목록 및 취소 */
.cancel-button {
    color: #FFFFFF;
    background-color: #999;
}

/* 수정 */
.edit-button {
    color: #FFFFFF;
    background-color: #43946f;
}

/*삭제 버튼 */
.delete-button {
    width: 60px;
    height: 30px;
    color: #fdf5f5;
    box-shadow: 0px 0px 0px ;
    background-color: #FF5B5B;
}

.register-button:hover {
    background-color: #6a4af6;
}
.cancel-button:hover {
    background-color: #555;
}
.edit-button:hover {
    background-color: #316c52;
}

.delete-button:hover {
    background-color: #d91717;
}

