.content {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #6B4D27;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    min-height: 800px;
    flex-grow: 1; /* This line is added */
}


.small-content {
    width: 50%;
    min-height: 60%;
    border: 1px solid #6B4D27;
    border-radius: 10px;
    margin: auto;
    position: relative;

    /*transform: translateY(-10%);*/

}


.vertical-table {
    width: 80%;
    margin: 70px auto;

    /*smallcontent의 전체를 채운다.*/
}

.vertical-table tr {
    border-bottom: 1px solid black;

}

.vertical-table th,
.vertical-table td {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*form 태그 모양 조절*/
.form {
    width: 100%;
    height: 100%;
}

.inventoryUpdate-form {
    width: 100%;
    flex-grow: 1; /* This line is added */
    display: flex; /* This line is added */
    flex-direction: column; /* This line is added */
}

/*목록 페이지의 표에 대한 스타일 적용*/
.list-table {

    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #6B4D27;
    font-size: 18px;
    text-align: center;

}


.list-table th,
.list-table td {
    padding: 12px 15px;

}

.list-table td {
    border-top: 1px solid #6B4D27

}

.list-table tfoot {
    font-weight: bold;

}


.list-table tbody tr:last-child:hover {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #AF9A63;
    /*background-color: #6B4D27;*/
    color: #fff;
}


.list-table tbody tr:hover {
    background-color: #AF9A63;
    color: #fff;
}

/*표 상에서 hover했을 때, */
.list-table tbody tr:hover td a {
    color: #fff !important;
}


/*입고 내역 상세의 번호, 등록인, 입고일자 부분 */
.ipgodetail {
    margin-top: 20px;
    margin-left: 150px;
    text-align: center;
}

.ipgodetail input {
    text-align: center;
}

/*디테일 페이지의 표에 대한 스타일 적용*/
.detail-table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #6B4D27;
    font-size: 18px;
    text-align: center;
}

.detail-table tfoot tr:first-child td {
    border-top: 3px solid black;
}


.detail-table th,
.detail-table td {
    padding: 12px 15px;

}

.detail-table td {
    border-top: 1px solid #6B4D27

}

.detail-table tfoot {
    font-weight: bold;
}


/*타임리프와 JS연동된 form 부분에 있는 표에 대한 스타일 적용*/
#contentTable {
    width: 100%;
    margin: 70px auto;
    border-radius: 20px;
    background-color: #6B4D27;
    color: #FFF;
}

#contentTable th, #contentTable td {
    padding: 12px 15px;
    text-align: center;
    border-top: 1px solid #FFF;
}

#addForm{
    width: 80%;
    margin: 0px auto;

}

#titleTable{
    width: 100%;

    margin-top: 90px;
    margin-bottom: 90px;

    border-top: 1px solid #6B4D27;
    border-bottom: 1px solid #6B4D27;
}

#titleTable th, #titleTable td {
    padding: 12px 15px;
    border-top: 1px solid #6B4D27;
}

#titleTable td.title{
    border-right: 1px solid #6B4D27;
    background-color: #f6f6f6;
}



.submitBtn{
    display: block;
    margin: 20px auto;
    width: 120px;
    background: #4A85F6;
    color: #FFFFFF;
}
.submitBtn:hover {
    background-color: #6a4af6;
}


.right-top-btn {

    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;


}

/*왼쪽으로 정렬*/
.left-align {
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    margin-left: 160px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

}

.left-align input[type="checkbox"] {
    width: 24px; /* 체크박스의 크기를 조절 */
    height: 24px;
    margin-right: 10px; /* 체크박스와 글자 사이의 간격을 조절 */
}


/*재고 목록에서 첫번째 줄*/

.one-line {
    width: 100%;
    margin-top: 70px;

    display: flex;
    justify-content: space-between; /* 자식 요소들을 양쪽 끝에 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
}

.one-line form {
    display: flex;
    align-items: center;
    margin-left: 160px;

}

/*검색창을 조절하자*/
form input[type="text"] {
    height: 40px; /* 원하는 높이로 조절 */
    width: 500px; /* 원하는 가로 길이로 조절 */
    margin-right: 10px; /* input과 button 사이의 간격을 조절 */
    padding: 5px;
    background-color: #6B4D27;
    color: white;
}

form input[type="text"]::placeholder {
    color: white;
    text-indent: 13px;

}

.search {
    background-color: white;
    height: 40px;
    color: #AF9A63;
    border: 1px #AF9A63 solid;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


/** ----- 버튼 S------ */
/*버튼 위치설정*/
.right-top-btn {

    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;


}

/*스위치 버튼의 위치*/
.bottom-button {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.bottom-button button {
    margin: 0 30px;
}

.top-btn {
    margin-top: 70px;
    width: 100%;
    text-align: center;
}

.top-btn button {
    margin: 0 10px;
}


.middle-btn {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.middle-btn button {
    margin: 0 10px;
}

.wideBtn {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    width: 300px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

}

.switch-button1 {
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #AF9A63;
}

.switch-button1:hover {
    background-color: #6B4D27; /* hover 시 배경색을 starducks 대표 색상으로 변화시킨다. */
}

.switch-button2 {

    color: #AF9A63;

    background-color: #FFFFFF;
    border: 1px solid #AF9A63;
    border-radius: 10px;
}

.switch-button2:hover {
    color: #ffffff;
    background-color: #6B4D27;
    /* hover 시 선택된 항목처럼 색상을 변화시킨다.*/
}


/* 버튼 공통 디자인 */
.commonBtn {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    width: 120px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;

}

/*취소 버튼을 부득이하게 p태그로 사용할 경우 */
a p.commonBtn {
    line-height: 50px;
    display: inline-block;
    text-align: center;
    /* 글자 가운데 정렬 추가 */
}

/* 등록 */
.register-button {


    background: #4A85F6;
    color: #FFFFFF;
    margin-right: 160px;

}

/* 목록 및 취소 */
.cancel-button {
    color: #FFFFFF;
    background-color: #999;
}

/* 수정 */
.edit-button {
    color: #FFFFFF;
    background-color: #43946f;
}

/*삭제 버튼 */
.delete-button {
    width: 60px;
    height: 30px;
    color: #fdf5f5;
    box-shadow: 0px 0px 0px;
    background-color: #FF5B5B;
}

.register-button:hover {
    background-color: #6a4af6;
}

.cancel-button:hover {
    background-color: #555;
}

.edit-button:hover {
    background-color: #316c52;
}

.delete-button:hover {
    background-color: #d91717;
}


/*페이지네이션 스타일 ~~~~~~~~~~~~~~~~~~*/
.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination a,
.pagination strong {
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid rgba(107, 77, 39, 0.3);
    border-radius: 5px;
    color: rgba(107, 77, 39, 0.4) !important;
    text-decoration: none;
}

.pagination a:hover {
    background-color: rgba(107, 77, 39, 0.7) !important;
    color: white !important;
}


/* Style for current page */
.pagination .current-page {
    background-color: white;
    border-color: #6B4D27;
    color: #6B4D27 !important;
    font-weight: bold;
}

/* Custom styles for first and last page links */
.pagination a:first-child,
.pagination a:last-child {
    background-color: rgba(107, 77, 39, 0.4);
    color: white !important;
}

/* Styles for disabled previous and next links */
.pagination a[disabled],
.disabled {
    color: grey;
    background-color: #f4f4f4;
    pointer-events: none;
    cursor: default;
}

/*페이지네이션 스타일 끝~~~~~~~~~~~~*/