<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mypage/layouts/main}">

<main layout:fragment="content">
    <h2>근태관리</h2>
    <div class="calendar-side">
        <div class="attd-check-box">
            <div>
                <button class="attd-btn" th:if="${startTime == null}">출근</button>
                <!--        <button th:if="${endTime != null}">퇴근</button>-->
            </div>
            <div>
                <div>
                    출근&emsp;|&emsp;<p type="text" th:value="${startTime}"></p>
                </div>
                <div>
                    퇴근&emsp;|&emsp;<p type="text" th:value="${endTime}"></p>
                </div>
            </div>
        </div>
        <div class="attd-sum-box">
            <h3>2019년 3월</h3>

            <div>
                <div class="attd-sum-num-box">18</div>
                <div>근무</div>
            </div>
            <div>
                <div class="attd-sum-num-box">0</div>
                <div>지각</div>
            </div>
            <div>
                <div class="attd-sum-num-box">0</div>
                <div>결근</div>
            </div>
            <div>
                <div class="attd-sum-num-box">18</div>
                <div>근무</div>
            </div>
        </div>
    </div>

    <div class="calendar">
        <div id='calendar'></div>
    </div>
</main>
</html>