<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<th:block layout:fragment="title">메인 </th:block>

<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/attendance.css}" href="/static/mypage/attendance.css">
    <script th:src="@{/js/mypage/attendance.js}" src="/mypage/script.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
</th:block>

<th:block th:layout="title">메인 </th:block>
<th:block th:layout="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/attendance.css}" href="/static/mypage/attendance.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
</th:block>

<main layout:fragment="content">
    <h2>근태관리</h2>
    <div class="calendar-side">
        <div class="attd-check-box">
            <div>
                <form th:action="@{/attendance/startSubmit}" method="post" th:if="${attendance?.startTime == null}">
                    <button class="attd-btn" type="submit">출근</button>
                </form>
                <form th:action="@{/attendance/endSubmit}" method="post" th:if="${attendance?.startTime != null}">
                    <button class="attd-btn" type="submit">퇴근</button>
                </form>
            </div>

            <div>
                <div>
                    출근&ensp;|&ensp;<span type="text" th:if="${attendance != null}" th:text="${#temporals.format(attendance?.startTime, 'HH:mm')}"></span>
                </div>
                <div>
                    퇴근&ensp;|&ensp;<span type="text" th:if="${attendance != null}" th:text="${#temporals.format(attendance?.endTime, 'HH:mm')}"></span>
                </div>
            </div>
        </div>

        <div class="attd-sum-box">
            <h3><span th:text="${#dates.format(#dates.createToday(), 'yyyy년 MM월')}"></span></h3>

            <div>
                <div class="attd-sum-num-box" th:text="${workDays}">18</div>
                <div>근무</div>
            </div>
            <div>
                <div class="attd-sum-num-box" th:text="${absentDays}">0</div>
                <div>지각</div>
            </div>
            <div>
                <div class="attd-sum-num-box">0</div>
                <div>결근</div>
            </div>
            <div>
                <div class="attd-sum-num-box">12/15</div>
                <div>연차</div>
            </div>
        </div>
    </div>

    <div class="calendar">
        <div id='calendar'></div>
    </div>
</main>
</html>