<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/fefbaa8eb2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/commons/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/mypage/style.css}" href="/mypage/attendance.css">

    <link rel="stylesheet" type="text/css" th:each="cssFile : ${addCss}"
          th:href="@{/mypage/{file}.css(file=${file})}">
    <th:block layout:fragment="addCss"></th:block>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>

    <script th:src="@{/commons/script.js}"></script>
    <script th:src="@{/mypage/script.js}" src="/mypage/script.js"></script>
    <script th:each="jsFile : ${addScript}" th:src="@{/mypage/{file}.js(file=${file})}"></script>
    <th:block layout:fragment="addScript"></th:block>

    <title layout:fragment="title">index</title>

</head>
<body>

<!--로그인 여부-->
<section class="right">
    <th:block sec:authorize="isAuthenticated()">
        로그인 성공
    </th:block>
    <th:block sec:authorize="isAnonymous()">
        로그인 해야함
    </th:block>
    <th:block sec:authorize="hasAuthority('A')">A권한이 있을 경우</th:block>
    <th:block sec:authorize="hasAnyAuthority('A', 'B')">A나 B 둘 중 하나라도 권한이 있을 경우</th:block>
</section>

<!--header 가져오기-->
<th:block th:replace="~{outlines/header::header}"></th:block>

<!--side 가져오기-->
<th:block th:replace="~{outlines/side::sidebar}"></th:block>

<!--메인은 여기에-->
<main layout:fragment="content">
    <h2>근태관리</h2>
    <div class="calendar-side">
        <div class="attd-check-box">
            <div>
                <button class="attd-btn" th:if="${startTime == null}">출근</button>
                <!--        <button th:if="${endTime != null}">퇴근</button>-->
            </div>
            <div>
                <div>
                    출근&emsp;|&emsp;<p type="text" th:value="${startTime}"></p>
                </div>
                <div>
                    퇴근&emsp;|&emsp;<p type="text" th:value="${endTime}"></p>
                </div>
            </div>
        </div>
        <div class="attd-sum-box">
            <h3>2019년 3월</h3>

            <div>
                <div class="attd-sum-num-box">18</div>
                <div>근무</div>
            </div>
            <div>
                <div class="attd-sum-num-box">0</div>
                <div>지각</div>
            </div>
            <div>
                <div class="attd-sum-num-box">0</div>
                <div>결근</div>
            </div>
            <div>
                <div class="attd-sum-num-box">18</div>
                <div>근무</div>
            </div>
        </div>
    </div>


    <div class="calendar">
        <div id='calendar'></div>
    </div>
</main>


</body>
</html>