.preview-layout {
    position: relative;
    width: 1280px;
    /*height: 1122px;*/
    margin: auto;
}
.commonBtn {
    margin: 30px;
}
/* 폼 영역 */
.inputs-div {
    position: relative;
    display: inline-block;
    border: 1px solid #6B4D27;
    height: 1122px;
    width: 460px;
    border-radius: 20px;
    padding: 20px;
}
.hr {
    width: 400px;
    margin: 25px auto;
    /*text-align: center;*/
}
.input-wrap {
    margin: 15px;
}
.input-wrap input[type="file"] {
    width: 300px;
}
.input-wrap2 {
    margin: 40px 20px;
}
.disable-btn {
    color: #c9c9c9;
}
.disable-btn:hover {
    background-color: #43946f;
    cursor: default;
}
.disable-btn:active {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.docForm-title {
    display: inline-block;
    background-color: #6B4D27;
    color: white;
    border: 1px solid #6B4D27;
    border-radius: 20px;
    padding: 10px;
}
.urgent-wrap {
    position: absolute;
    top: 75px;
    right: 30px;
}
#docTitle {
    display: inline-block;
}
#docContent {
    margin: 0 auto;
}

/* 문서 미리보기 영역 */
.urgent-sticker {
    display: inline-block;
    border: 2px solid red;
    color: red;
    padding: 5px;
    width: 62px;
    height: 47px;
}
.rejected-sticker {
    position: absolute;
    display: inline-block;
    border: 3px solid red;
    color: red;
    padding: 8px;
    width: 90px;
    height: 60px;
    right: 150px;
}
.a4-box {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    border: 1px solid gray;
    /*width: 210mm;*/
    /*height: 297mm;*/
    width: 794.52px;
    height: 1122.66px;
}
#print-div {
    position: relative;
    /*border: 1px solid yellowgreen;*/
    /*margin: 10mm;*/
    margin: 38.7px;
}
.doc-type-name {
    /*text-align: center;*/
    position: absolute;
    top: 10px;
    left: 250px;
}
table {
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, .col-th {
    background-color: #dddddd;
    -webkit-print-color-adjust:exact;
    text-align: center;
}
.col-th {
    font-weight: 600;
    width: 80px;
    margin: 5px;
    padding: 5px;
}
td {
    margin: 5px;
    padding: 5px 10px;
}
.top-box {
    height: 120px;
}
.drafter-box {
    position: absolute;
    top: 100px;
    right: 210px;
    /*width: 100%;*/
    /*height: 100%;*/
    width: 110px;
    height: 140px;
}
.approver-box {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 195px;
    height: 140px;
}
.stamp-box {
    width: 86px;
    height: 86px;
    margin: 0;
    padding: 0;
}
.stamp-date {
    margin: 0;
    padding: 2px;
    width: 86px;
    height: 29px;
}
.doc-info-box {
    position: absolute;
    top: 250px;
    left: 0px;
    width: 715px;
    margin: 20px 0;
}

.doc-content-box {
    position: absolute;
    top: 450px;
    left: 0px;
    width: 715px;
    margin: 20px 0;
}

/*발주서류 마지막 footer 부분*/
.doc-footer-box {
    position: absolute;
    top: 890px;
    left: 0px;
    width: 715px;
    margin: 20px 0;
    text-align: center;
}
.attached-files-box {
    position: absolute;
    top: 860px;
    left: 0px;
    width: 715px;
    margin: 20px 0;
}
.docContentOut {
    height: 350px;
}
.border-delete {
    border-bottom: solid 1px rgba(0,0,0,0);
    border-right: solid 1px rgba(0,0,0,0);
}

/* 모달 내부 스타일 */
.modal-dialog {
    width: 310px;
}
.modal-content {
    background-color: #6B4D27;
}
.modal-title {
    color: white;
}
.modal-body {
    position: relative;
}
#magnifierIcon {
    position: absolute;
    top: 29px;
    left: 32px;
    color: rgba(0, 0, 0, 0.5);
}
.searchItem {
    position: absolute ;
    right: 32px;
}
.modal-body input[type=radio], .modal-body input[type=checkbox] {
    opacity: 0;
}
.modal-body input[type=radio] + div, input[type=checkbox] + div {
    position: relative;
    border: 3px solid #d9d9d9;
    background-color: #fff;
    border-radius: 20px;
    width: 266px;
    height: 80px;
    font-size: 14px;
    margin: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-body input[type=radio]:checked + div, input[type=checkbox]:checked + div {
    border-color: #43946f;
}
#select-btn {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color:#43946f;
    border-color:#43946f;
    color:white;
}
.searchInfo {
    display: inline-block;
    position: absolute;
    top: 17px;
    left: 90px;
    height: 42px;
    width: 150px;
}
.searchImg {
    position: absolute;
    left: 0;
    top: -3px;
    width: 60px;
    height: 60px;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin: 10px;
}
.searchInfo1 {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.searchEmpId, .searchEmpName {
    display: inline-block;
}
.searchInfo2 {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 0;
}
.searchDept, .searchRole {
    display: inline-block;
}
#searchBar {
    font-size: 15px;
    width: 268px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #d9d9d9;
    padding: 15px;
    padding-left: 45px;
}
