.page-border {
    position: relative;
    width: 1380px;
    height: 1000px;
    padding: 30px;
}
.emptyDoc {
    position: absolute;
    color: #c9c9c9;
    top: 300px;
    left: 500px;
}

/* 검색 */
.search-div {
    height: 50px;
    padding: 20px;
}
.search-keyword {
    position: absolute;
    display: inline-block;
    width: 400px;
    right: 190px;
}
.search-button, .listBtn {
    position: absolute;
    display: inline-block;
    height: 35px;
    border: 1px solid #6B4D27;
    border-radius: 10px;
    background-color: #6B4D27;
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.search-button {
    right: 125px;
}
.listBtn {
    background-color: white;
    color: #6B4D27 !important;
    right: 20px;
    padding: 5px;
}

/* 문서 리스트 테이블 */
.list-table {
    margin: auto;
    margin-top: 40px;
}
.list-thead {
    border-bottom: 2px solid black;
}
.docId-th, .formName-th {
    width: 80px;
}
.docTitle-th {
    /*width: 400px;*/
}
.docDate-th {
    width: 200px;
}
.formName-th, .docWriter-th, .docStatus-th, .urgent-th {
    width: 130px;
}
.docStatus, .urgent {
    display: inline-block;
    margin: 0 5px;
    width: 120px;
    height: 24px;
    border-radius: 15px;
    text-align: center;
}
.urgent {
    background-color: #FF5B5B;
    color: white;
}

/* 페이지네이션 */
.pagination {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: flex;
    justify-content: center !important;
    list-style: none;
    align-items: center !important;
}
.pagination a,
.pagination strong {
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid rgb(107, 77, 39, 0.8);
    border-radius: 5px;
    color: rgb(107, 77, 39, 0.8) !important;
    text-decoration: none;
    opacity: 1.0 !important;
    background-color: white;
}
.pagination a:hover {
    background-color: rgb(107, 77, 39, 0.6) !important;
    color: white !important;
}
/* 현재 페이지 스타일링 */
.pagination .current-page {
    border: 2px solid rgb(107, 77, 39);
    color: rgb(107, 77, 39) !important;
    background-color: #ffffff;
    font-weight: bold;
}
/* << >> 맨처음과 끝으로 가는 버튼 스타일 */
.pagination a:first-child,
.pagination a:last-child {
    background-color: rgb(107, 77, 39) !important;
    color: white !important;
}
/* < > 버튼 스타일링  */
.next-page {
    background-color: rgb(190, 158, 124) !important;
    color: white !important;
}
/* 페이지 번호 부분 스타일링 */
.page-number {
    color : rgb(107, 77, 39, 0.6) !important;
}

/* << >> 맨처음과 끝으로 가는 버튼 스타일:hover  */
.pagination a:first-child:hover,
.pagination a:last-child:hover {
    background-color: rgb(107, 77, 39, 0.6) !important;
    color: white;
}
/* Styles for disabled previous and next links */
.pagination a[disabled],
.disabled {
    color: rgb(107, 77, 39, 0.6) !important;
    background-color: rgb(107, 77, 39, 0.1) !important;
    pointer-events: none;
    cursor: default;
}