.top-button {

}
.list-table {
    width: 1050px;
    margin: 30px;
}
.list-thead {
    border-bottom: 2px solid black;
}
.docId-th, .formName-th {
    width: 80px;
}
.docTitle-th {
    /*width: 400px;*/
}
.docDate-th {
    width: 200px;
}
.formName-th, .docStatus-th, .urgent-th {
    width: 130px;
}
.docStatus, .urgent {
    display: inline-block;
    margin: 0 5px;
    width: 120px;
    height: 24px;
    border-radius: 15px;
    text-align: center;
}
.urgent {
    background-color: #FF5B5B;
    color: white;
}