/* 캘린더 */
.fc-toolbar-chunk {
    display: flex;
align-items: center;
}
.fc .fc-button-primary, .fc:hover .fc-button-primary:hover {
    background-color: rgba(1, 1, 1, 0);
    border-color: rgba(1, 1, 1, 0);
    color: #6B4D27;
}
.fc-toolbar-title {
    color: #6B4D27;
}
.page-border {
    width: 1000px;
    height: 880px;
}
.calendar {
    display: inline-block;
    position: absolute;
    top: 140px;
    left: 600px;
    /*height: 870px;*/
    padding: 50px;
}
#calendar {
    width: 900px;
    height: 800px;
}
.fc-dayGridMonth-view {
    /*background-color: white;*/
    /*box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);*/
}
/* 캘린더 사이드 */
.calendar-side {
    display: inline-block;
    /*height: 870px;*/
}
.attd-check-box {
    width: 260px;
    height: 225px;
    border: #6B4D27 1px solid;
    border-radius: 20px;
    margin: 20px;
}
.attd-btn, .complete-attd {
    width: 180px;
    height: 70px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    border: none;
    border-radius: 20px;
    margin: 20px 40px;
}
.attd-btn {
    background-color: #6B4D27;
}
.complete-attd {
    background-color: #d0d0d0;
    text-align: center;
    padding: 23px;
}
.fa-circle-check {
    color: #A3C614;
}
.attd-time-box {
    padding: 0 60px;
}
.start-time-box, .end-time-box {
    margin: 15px;
}
.attd-btn:hover {
    cursor: pointer;
}
.sum-month {
    margin: 25px 0;
}
.attd-sum-box {
    width: 260px;
    height: 640px;
    border: #6B4D27 1px solid;
    background-color: #6B4D27;
    border-radius: 20px;
    color: white;
    text-align: center;
    margin: 20px;
}
.attd-sum-num-box {
    width: 200px;
    height: 70px;
    background-color: white;
    color: black;
    border-radius: 15px;
    text-align: center;
    margin: 10px 30px;
    padding: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.attd-sum-wrap {
    margin: 25px 0;
}