main {
    width: 1200px;
    font-size: 13px;
    display: grid;
    grid-template-areas: 'first second third';
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: start; /* attend이 위로 정렬됩니다. */
}
h4 {
    text-align: left;
    font-weight: bold;
    padding-top: 10px;
}


.content {
    background-color: rgba(255, 255, 255, 0.9);
}
.widget {
    width: 450px;
    padding: 20px 40px;
    margin-bottom: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.attd-btn, .complete-attd {
    height: 50px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    color: white;
    border: none;
    border-radius: 20px;
    margin: auto;
    /*margin: 20px 30px;*/
}
.attd-btn {
    width: 100px;
    background-color: #6B4D27;
}
.complete-attd {
    width: 130px;
    background-color: #c9c9c9;
    text-align: center;
    padding: 15px;
}
.attd-btn:hover {
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.fa-circle-check {
    color: #A3C614;
}
#firstCol{grid-area: first; height: 100%;}
#secondCol{grid-area: second; height: 100%;}
#thirdCol{grid-area: third; height: 100%;}

/*근태관리*/
#widgetAttend {
    text-align: center;
    height: 550px;
}
#widgetAttend span {
    display: inline-block;
    padding: 0 10px;
}
#widgetAttend > div{
    padding: 10px 0;
}
#widgetAttend ul {
    display: flex;
    justify-content: space-between;
}
#widgetAttend ul li p:first-child {
    background-color: #6B4D27;
    color: #fff;
    width: 50px;
    padding: 5px 0;
    border-radius: 13px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
#profile-box {
    border-top: 5px solid #ddd;
}

/* 결재문서 */
#widgetDoc {
    height:calc(100% - 590px);
}
#widgetDoc table {
    text-align:center;
}
.urgent {
    background-color: #d91717;
    color: #fff;
    padding: 3px;
    border-radius: 15px;
}

/* 날씨 */
#widgetWether {
    height: 400px;
    background-color: #6B4D27;
    color: white;
}
#weather {
    text-align: center;
    border-top: 5px solid #ddd;
    padding-top: 20px;
}
#city {
     font-size: 20px !important;
 }
#weather p {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

#weather img {
    box-shadow: 5px 0 20px 5px #6B4D27 inset;
    background-color: white;
    border-radius: 100%;
    animation: floatAnimation 0.8s infinite alternate ease-in-out;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px); /* 위아래로 둥실둥실 움직이는 정도 조절 가능 */
    }
}

/* 일정관리 */
#widgetCal {
    height:calc(100% - 440px);
    overflow: hidden;
}
#calendar {
    width: 100%;
    height: 410px;
    margin-bottom: 20px;
    overflow: hidden;
}
.fc-event-time, .fc-daygrid-event-dot {
    display: none;
}
.fc-event-title {
    background-color: #D6D6D6;
}
.fc-toolbar-chunk {
    font-size: 11px;
    display: flex;
}

/* 전사게시판 */
#widgetForum {
    height: calc(50% - 20px);
}
#widgetForum table {
    text-align: center;
}
.mypageTable tbody .notice {
    background-color: #ffafb8;
}

/* 메일 */
#widgetMail {
    height: calc(50% - 20px);
    overflow: hidden;
}

/* 공통 */
.mypageTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.mypageTable th {
    padding: 5px;
    text-align: center;
    border-top: 5px solid #ddd;
    /*border-top: 5px solid #ddd;*/

}
.mypageTable td {
    padding: 5px;
    border-top: 1px solid #ddd;
}
/* 테이블 행에 마우스 오버 시 배경색 변경 */
.mypageTable tbody tr:hover {
    background-color: #f5f5f5;
}
.mypageTable .notice:hover {
    background-color: #ffd1d6;
}
#widgetForum .mypageTable > tbody > tr {
    cursor: pointer;
}
