/** 모달 */
#closeModalBtn {
    width: auto;
    right: 50px;
    padding: 30px 50px 0;
    float: right;
}

.addModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}


#addForm {
    display: block;
    width: 35%;
    padding:  20px 0 10px;
    margin: 0 auto;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
    margin-top: 100px;
}

.modal-content select{
    display: inline-block;
}

.modal-content h3 {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding: 30px 40px 20px;
}

.modal-content button {
    margin: 0 auto;
}

/* 모달이 열렸을 때 */
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.btns {
    display: flex;
}


/** 캘린더 */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.fc-toolbar-chunk {
    display : flex;
    align-items: center;
}

#calendar {
    max-width: 1100px;
    margin: 0 auto;
    width: 80%;
}