<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->
<th:block layout:fragment="title">HR</th:block>
<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/hr/style.css}">
    <script th:src="@{/js/hr/script.js}"></script>
</th:block>

<main layout:fragment="content">
    <script th:if="${result}">
        // SweetAlert을 사용하여 성공 알림을 표시합니다.
        swal("성공!", "사원 정보가 저장되었습니다.", "success");
    </script>

    <h1>사원관리</h1>
    <div class="search">
        <input type="text">
        <div>
            All <input type="checkbox">
            재직 <input type="checkbox">
            퇴사 <input type="checkbox">
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>사번</th>
                <th>이름</th>
                <th>부서</th>
                <th>직급</th>
                <th>연락처</th>
                <th>이메일</th>
            </tr>
        </thead>
        <tbody th:each="emp : ${employees}" th:object="${emp}">

            <tr>

                <td th:text="*{empId}"></td>
                <td><a th:href="@{/hr/emp/{empId}(empId=*{empId})}" th:text="*{empName}"></a></td>
                <td th:text="*{dept.getDeptName()}"></td>
                <td th:text="*{position}"></td>
                <td th:text="*{empTel}"></td>
                <td th:text="*{email}"></td>

            </tr>

        </tbody>
    </table>

    <a th:href="@{/hr/emp/register}"><button class="commonBtn register-button">사원등록</button></a>
</main>
</html>