<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!-- 여기는 헤드(메인에 없는 헤드 추가하기) -->
<th:block layout:fragment="addMore">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.10/index.global.min.js'></script>

    <script th:src="@{/js/mypage/schedule/ScheduleScript.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/schedule.css}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</th:block>

<main layout:fragment="content">
    <div th:fragment="addModal">
        <div class="addModal" id="addModal" style="display: none;">
            <form class="modal-content" th:action="@{/mypage/schedule/add}" method="post" th:id="addForm">
                <span class="close" id="closeModalBtn">&times;</span>
                <h3>일정 등록</h3>
                <div style="padding: 40px">
                    <!--                    <span>No</span>-->
                    <input type="hidden" id="scheNo" name="scheNo" disabled>

                    <span style="display: inline-block; width: 60px;">일정명</span>
                    <input type="text" id="scheTitle" name="scheTitle" style="display: inline-block; width: 200px;">
                    <br>

                    <!--                    <span>등록자</span>-->
                    <!--                    <input th:if="${empId != null}" type="hidden" th:value="${empId}" id="empId" disabled>-->
                    <!--                    <br>-->

                    <span>시작 일시</span>
                    <input type="datetime-local" name="scheStartDate">
                    <br>

                    <span>종료 일시</span>
                    <input type="datetime-local" name="scheEndDate">
                    <br>

                    <span>일정 종류</span>
                    <select id="scheType" name="scheduleType">
                        <option th:value="PERSONAL_SCHEDULE" name="PERSONAL_SCHEDULE">개인일정</option>
                        <option th:value="OFFICIAL_SCHEDULE" name="OFFICIAL_SCHEDULE">공식일정</option>
                    </select>
                    <br>

                    <span>참고사항</span>
                    <textarea id="text" rows="5" cols="62" name="notes"></textarea>
                    <br>

                    <div class="btns" id="btns">
                        <button class="commonBtn register-button" id="registBtn">등록</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
</html>