<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--여기는 헤드(메인에 없는 헤드 추가하기)-->
<th:block layout:fragment="addMore">
    <link rel="stylesheet" href="/css/mypage/schedule.css" th:href="@{schedule.css}"/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
    <script th:src="@{/js/mypage/schedule/ScheduleScript.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/hr/style.css}">
</th:block>

<script th:if="${detailSchedule == null}" th:inline="javascript">
    /* JavaScript 코드로 alert 창 띄우기 */
    alert('일정을 찾지 못했습니다! 다시 확인해주세요!');
</script>

<main layout:fragment="content">
    <h1>일정 정보 조회</h1>
    <div id="form">
        <section>
            <section style="display: flex;">
                <section style="flex: 1;">
                    <dl>
                        <dt>일정번호</dt>
                        <dd><input type="text" id="scheNo" name="scheNo" th:value="${detailSchedule.scheNo}"
                                   class="form-control" readonly></dd>
                    </dl>
                    <dl>
                        <dt>일정명</dt>
                        <dd>
                        <dd><input type="text" id="scheTitle" name="scheTitle" th:value="${detailSchedule.scheTitle}"
                                   class="form-control" readonly></dd>
                        </dd>
                    </dl>
                    <dl>
                        <dt>시작일</dt>
                        <dd><input type="text" id="scheStartDate" name="scheStartDate"
                                   th:value="${detailSchedule.scheStartDate}"
                                   class="form-control" readonly></dd>
                        </dd>
                    </dl>
                    <dl>
                        <dt>종료일</dt>
                        <dd><input type="text" id="scheEndDate" name="scheEndDate"
                                   th:value="${detailSchedule.scheEndDate}"
                                   class="form-control" readonly></dd>
                        </dd>
                    </dl>
                </section>

                <section style="flex: 1;">
                    <dl>
                        <dt>일정 종류</dt>
                        <dd><input type="text" id="scheduleType" name="scheduleType"
                                   th:value="${detailSchedule.scheduleType.displayName}"
                                   class="form-control" readonly></dd>
                        </dd>
                    </dl>

                    <dl style="display: flex; align-items: center;">
                        <dt style="width: 10px; display: flex; align-items: center; padding-bottom: 180px">참고사항</dt>
                        <dd style="flex: 1;"><textarea style="height: 200px; width: 50%;border-radius: 10px; border: 1px solid #6B4D27;" id="notes" name="notes"
                                                       th:field="${detailSchedule.notes}" class="form-control"
                                                       readonly></textarea></dd>
                    </dl>
                </section>
            </section>
        </section>
        <div class="btns" style="align-items: center">
            <button class="commonBtn cancel-button" type="button" th:onclick="location.href='/mypage/schedule/show'">
                목록
            </button>
            <button class="commonBtn delete-button" type="button" th:onclick="'confirmDelete(' + ${scheNo} + ')'">삭제
            </button>
        </div>
    </div>

    <script>
        function confirmDelete(scheNo) {
            Swal.fire({
                title: '삭제 확인',
                text: '해당 정보를 삭제하시겠습니까?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소'
            }).then((result) => {
                if (result.isConfirmed) {
                    // 확인을 누르면 삭제 URL로 이동
                    window.location.href = '/mypage/schedule/delete/' + scheNo;
                }
            });
        }
    </script>
</main>
</html>