<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--여기는 헤드(메인에 없는 헤드 추가하기)-->
<th:block layout:fragment="addMore">
    <link rel="stylesheet" href="/css/mypage/Schedule.css" th:href="@{/css/mypage/Schedule.css}"/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
    <script th:src="@{/js/mypage/schedule/ScheduleScript.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/hr/style.css}">
</th:block>

<script th:if="${detailSchedule == null}" th:inline="javascript">
    /* JavaScript 코드로 alert 창 띄우기 */
    alert('일정을 찾지 못했습니다! 다시 확인해주세요!');
</script>

<main layout:fragment="content">
    <h2>마이페이지</h2>
    <br><br>
    <h5>일정상세보기</h5>
    <br>

    <div style="text-align: center;">
        <section>
            <dl>
                <dt>일정번호</dt>
                <dd><input type="text" id="scheNo" name="scheNo" th:value="${detailSchedule.scheNo}"
                           class="form-control" readonly></dd>
            </dl>
            <dl>
                <dt>일정명</dt>
                <dd>
                <dd><input type="text" id="scheTitle" name="scheTitle" th:value="${detailSchedule.scheTitle}"
                           class="form-control" readonly></dd>
                </dd>
            </dl>
            <dl>
                <dt>시작일</dt>
                <dd><input type="text" id="scheStartDate" name="scheStartDate" th:value="${detailSchedule.scheStartDate}"
                           class="form-control" readonly></dd>
                </dd>
            </dl>
            <dl>
                <dt>종료일</dt>
                <dd><input type="text" id="scheEndDate" name="scheEndDate" th:value="${detailSchedule.scheEndDate}"
                           class="form-control" readonly></dd>
                </dd>
            </dl>
            <dl>
                <dt>일정 종류</dt>
                <dd><input type="text" id="scheduleType" name="scheduleType" th:value="${detailSchedule.scheduleType}"
                           class="form-control" readonly></dd>
                </dd>
            </dl>
            <dl>
                <dt>참고사항</dt>
                <dd><input type="text" id="notes" name="notes" th:value="${detailSchedule.notes}"
                           class="form-control" readonly></dd>
                </dd>
            </dl>
        </section>
        <!--        <button class="btn btn-outline-success" type="submit" th:onclick="'location.href = \'' +  @{/schedule/update/(no=${detailSchedule.scheNo})} + '\''">수정하기</button>-->
        <a th:href="@{/schedule/delete/{scheNo}(scheNo=${detailSchedule.scheNo})}"
           th:onclick="'return confirm(\'정말 삭제하시겠습니까?\');'">
            <button class="btn btn-outline-danger">delete</button>
        </a>
        <button class="btn btn-outline-secondary" id="listbtn" type="button" onclick="location.href='/schedule/show'">
            목록으로
        </button>
    </div>
    <br><br>

    <script>
        document.querySelectorAll('#deletebtn').forEach(button => {
            button.addEventListener('click', function () {
                var scheduleId = this.getAttribute('data-schedule-id');
                deleteSchedule(scheduleId);
            });
        });
    </script>
</main>
</html>