<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!-- 추가적으로 필요한 CSS와 JavaScript 파일 로드 -->
<th:block layout:fragment="addMore">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.10/index.global.min.js'></script>
    <script th:src="@{/js/mypage/schedule/ScheduleScript.js}"></script>
    <link rel="stylesheet" type="text/css" href="/css/mypage/schedule.css" th:href="@{/css/mypage/schedule.css}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</th:block>

<style>
    /* 상단의 페이지 제목 */
    .page-title {
        text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
        color: #6B4D27;
    }
</style>


<!-- 메인 콘텐츠 영역 -->
<main layout:fragment="content">
    <h1 class="page-title" style="margin-bottom: 50px;">| 일정 관리</h1>
    <!-- modal을 포함시키는 부분 -->
    <div th:replace="~{mypage/schedule/registModal::addModal}"></div>
    <!-- 캘린더를 표시하는 영역 -->
    <div id='calendar'></div>

</main>
</html>