#item {
    border: 1px solid black;

}

body {
    display: grid;
    grid-template-areas:
    'header header'
    'sidebar content';
    grid-template-columns: 1fr 6fr; /* 사이드바와 컨텐츠 사이의 비율 조정 */
    height: 100vh; /* 뷰포트의 전체 높이 */
}

.sidebar {
    grid-area: sidebar; /* 그리드 영역 할당 */
    background-color:#6B4D27;
    border: 1px solid #333333;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}