<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<header th:fragment="header">
  <div>
    <!--            메일-->
    <a th:href="@{/email}"><i class="fa-solid fa-envelope"></i></a>


    <!--    채팅 스크립트 -->
    <script>
      function openChatPopup() {
        window.open('/chatRoomList', 'ChatPopup', 'width=600,height=1400');
      }
    </script>
    <!--    채팅 누르면 채팅 팝업   -->
    <a onclick="openChatPopup(); return false;">
      <i class="fa-solid fa-comments"></i>
    </a>


    <!--            알림-->
    <a href="#"><i class="fa-solid fa-bell"></i></a>

    <!--        프로필. 누르면 개인 정보 수정 페이지로 -->
    <a th:href="@{/profileEdit}">
      <i class="fa-solid fa-circle-user"></i>
    </a>
  </div>
</header>
</html>