<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <header th:fragment="header">

        <div>
            <a href="#"><i class="fa-solid fa-envelope"></i></a>
            <a href="#"><i class="fa-solid fa-comments"></i></a>
            <a href="#"><i class="fa-solid fa-bell"></i></a>
        </div>


        <!--로그인 여부-->
        <div class="right">
            <a href="#">
                <th:block sec:authorize="isAuthenticated()">
                    <i class="fa-solid fa-circle-user"></i>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <i class="fa-solid fa-user-slash"></i>
                </th:block>
            </a>
        </div>
    </header>



</html>