<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<header th:fragment="header">
  <div>
    <!--            메일            -->
    <a th:href="@{/email}"><i class="fa-solid fa-envelope"></i></a>


    <!--    채팅 스크립트     -->
    <script>
      <!--      채팅창 팝업 때 창 크기 조절 -->
      function openChatPopup() {
        window.open('/chatRoomList', 'ChatPopup', 'width=450 ,height=600');
      }
    </script>
    <!--    채팅 누르면 채팅 팝업   -->
    <a onclick="openChatPopup(); return false;">
      <i class="fa-solid fa-comments"></i>
    </a>


    <!--            알림          -->
    <a id="notify"><i class="fa-solid fa-bell"></i></a>



    <!--        프로필. 누르면 개인 정보 수정 페이지로 -->
    <a th:href="@{/profileEdit}">
      <i class="fa-solid fa-circle-user"></i>
    </a>
  </div>


  <!-- 드롭다운 리스트 -->
  <ul id="notify-drop" style="display: none;">
    <li th:each="notify : ${notifies}">
      <a th:href="${notify.url}">
        <p th:text="${notify.content}"></p>
        <p class="s-font" th:text="${notify.createdAt}"></p>
      </a>
    </li>
  </ul>

  <script>
    // 푸시알림 허용 요청
    const apiUrl = '/api/v1/notify/subscribe';

    if (Notification.permission === 'granted') {
      setupNotifications(apiUrl)
    } else if (Notification.permission === 'denied') {

    } else {
      // 알림 권한 요청
      Notification.requestPermission().then(function(permission) {
        if (permission === 'granted') {
          setupNotifications(apiUrl)
        }
      });
    };

    function setupNotifications(apiUrl) {
      // SSE 엔드포인트 URL로 새 EventSource 생성
      const eventSource = new EventSource(apiUrl);

      eventSource.onopen = () => {
        // 연결 시 할 일
        console.log("연결됨!!!!!!!!!!!!!!!!!!!!!!!!!!!");
      };

      console.log('Initial readyState:', eventSource.readyState);

      // SSE 이벤트에 대한 이벤트 리스너
      eventSource.onmessage = (event) => {
        const eventData = event.data;
        console.log('받은 SSE 메시지: ', eventData);

        // 받은 데이터를 사용하여 푸시 알림창을 생성
        handleEventUpdate(eventData);
      };

      eventSource.onerror = (event) => {
        // 오류 처리
        console.error('오류가 발생했습니다: ', event);
        eventSource.close();
      };

      // 페이지를 나갈 때 연결 닫기
      window.onbeforeunload = function () {
        if (eventSource) {
          eventSource.close();
        }
      };

      function handleEventUpdate(eventData) {
        const notificationData = JSON.parse(eventData);

        const notification = new Notification("새로운 알림", {
          body: notificationData.content
        });

        // 클릭 시 지정된 URL로 이동
        notification.onclick = function () {
          window.open(notificationData.url, "_self");
        };

        // 2초 후에 알림창 닫기
        setTimeout(() => {
          notification.close();
        }, 5000);

        // 알림 리스트에 등록
        $("#notify").addClass("notify");
        let newLi = $("<li>").click(function () {
          window.location.href = notificationData.url;
        }).hover(
                function () {
                  // 마우스가 올라갔을 때의 스타일
                  $(this).css("background-color", "#D6DEC6FF");
                },
                function () {
                  // 마우스가 나갔을 때의 스타일
                  $(this).css("background-color", "#E3EAC8FF");
                }
        );
        let content = $("<p>").text(notificationData.content);
        let time = $("<p>").text(notificationData.createdAt).addClass("s-font");

        $("#notify-drop").prepend(newLi.append(content).append(time));
      }
    }



    /** 헤더 알림창 */
    // 드롭다운 버튼 클릭 시 리스트 토글
    $("#notify").click(function(event) {
      event.stopPropagation(); // 클릭 이벤트 전파 방지
      $("#notify-drop").toggle(); // toggle() 메서드를 사용하여 토글
    });

    // 문서 클릭 시 리스트 숨김
    $(document).on('click', function(event) {
      if (!$(event.target).closest('#notify').length && !$(event.target).closest('#notify-drop').length) {
        $("#notify-drop").css("display", "none");
      }
    });
    })
  </script>
</header>
</html>