#item { border: 1px solid red}
body {
    display: grid;
    grid-template-areas:
    'sidebar header'
    'sidebar main';
    grid-template-columns: 220px 1fr; /* 사이드바와 컨텐츠 사이의 비율 조정 */
    grid-template-rows: 60px 1fr; /* 헤더와 컨텐츠 사이의 비율 조정 */
    min-height: 1250px;
    padding-right: 40px;

    /*배경으로 파도 이미지 추가*/
    background-image: url('/images/wave.png');
    background-size: 100%; /* 배경 이미지를 크기 조절 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-attachment: fixed; /* 스크롤 시 이미지 고정 */
    background-position: 80% 120% /* x축 숫자 올리면 오른쪽, y축 숫자 올리면 더 밑으로  */

}
*{
    box-sizing: border-box;
}
main {
    padding: 0 40px 40px;
    grid-area: main;
}
.content {
    border: 1px solid #6B4D27;
    border-radius: 10px;

}
/* 페이지에 가장 크게 들어가는 경계선 + 그림자 */
.page-border {
    border: 1px solid #6B4D27;
    border-radius: 10px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
}
/* 페이지에 가장 크게 들어가는 그림자 */
.page-shadow {
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
}
/* 상단의 페이지 제목 */
.page-title {
    text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
    color: #6B4D27;
}
a {
    text-decoration: none !important; /* 부트스트랩 5.3.1 cdn 삽입 시 !important 넣어야 적용 */
    color: black !important; /* !important 넣어야 적용 */
}
ul {
    list-style: none;
    padding: 0; margin: 0;
}
li {
    padding: 0;
    margin: 0;
    display: block;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime-local"] {
    border-radius: 10px;
    border: 1px solid #6B4D27;
    height: 38px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    display: block;
}

input[type="number"] {
    border-radius: 10px;
    border: 1px solid #6B4D27;
    height: 38px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

select {
    border-radius: 10px;
    border: 1px solid #6B4D27;
    height: 38px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

textarea {
    border-radius: 10px;
    border: 1px solid #6B4D27;
    height: 130px;
    width: 350px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    display: block;
}

/* ------ 사이드바 S --------*/
.sidebar {
    grid-area: sidebar; /* 그리드 영역 할당 */
    background-color:#6B4D27;
    border: 1px solid #333333;
    position: relative;
    min-height: 100vh;
}
label {
    display: block;
}
.sidebar-logo {
    width: 150px;
    margin: 20px auto;
    display: block;
}
/* 라디오 토글 */
.accro {
    width: 220px;
    padding-left: 30px;
    border-radius: 20px;
    margin: 20px 0;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.accro .head > label a{
    color: white !important;
    padding: 20px 20px 0;
    border-radius: 20px 0 0 20px;
    font-weight: bold;
    display: block;
}
.head input[name="nav"] {
    display: none;
}
.head input[name="nav"]:checked~label {
    background-color: #ffffff;
    color: black;
    border-radius: 20px 0 0 0;
}
.head input[name="nav"]:checked~label a {
    color: black !important;
}

.only input[name="nav"]:checked~label {
    border-radius: 20px 0 0 20px;
    padding: 0 20px 20px;
}
.head+ul {
    background-color: #fff;
    border-radius: 0 0 0 20px;
    text-align: right;
    padding: 20px;
}
.head+ul li {
    cursor: pointer;
    margin: 20px 0;
}
.submenu {
    background-color: #A3C614;
    padding: 10px;
    color: #fff !important;
    border-radius: 15px;
    text-shadow: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.sidebar-footer {
    position: absolute;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 100px auto 0 18px;
    bottom: 100px;
}
/* ------ 사이드바 E --------*/


/* ------ 헤더 S --------*/
header {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
}
header a {
    font-size: 25px;
    padding-left: 20px;
    line-height: 60px;
}
#notify {
    position: relative;
}
.notify::before {
    content: "•";
    width: 15px;
    height: 15px;
    color: red;
    font-size: 1.5em;
    position: absolute;
    top: -30px;
    right: -7px;
}


#notify-drop {
    background-color: #fff;
    border-radius: 15px;
    z-index: 10;
    border: 1px solid #ddd;
    position: absolute;
    top: 60px;
}
#notify-drop a {
    font-size: 15px;
    padding-left: 0;
    line-height: 15px;
}
#notify-drop li{
    padding: 20px;
}
#notify-drop li:not(#notify-drop li:last-child) {
    border-bottom: 1px solid #ddd;
}
#notify-drop li:hover {
    background-color: #eee;
}
#notify-drop li p {
    margin: 0 0 10px;
}
.s-font {
    font-size: 13px;
    color: #989898;
}
/* ------ 헤더 E --------*/


/** ----- 버튼 S------ */
/* 버튼 공통 디자인 */
.commonBtn, .register-button, .cancel-button, .edit-button, .delete-button {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    width: 120px;
    height: 50px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}
.commonBtn:active, .register-button:active, .cancel-button:active, .edit-button:active, .delete-button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

/*취소 버튼을 부득이하게 p태그로 사용할 경우 */
a p.commonBtn {
    line-height: 50px;
    display: inline-block;
    text-align: center;
    /* 글자 가운데 정렬 추가 */
}

/* 등록 */
.register-button {
    background: #4A85F6;
    color: #FFFFFF;
}

/* 목록 및 취소 */
.cancel-button {
    color: #FFFFFF;
    background-color: #999;
}

/* 수정 버튼 */
.edit-button {
    color: #FFFFFF;
    background-color: #43946f;
}

/*삭제 버튼 */
.delete-button {
    color: #fdf5f5;
    background-color: #FF5B5B;
}

.register-button:hover {
    background-color: #6a4af6;
}
.cancel-button:hover {
    background-color: #555;
}
.edit-button:hover {
    background-color: #316c52;
}

.delete-button:hover {
    background-color: #d91717;
}

/** ----- 버튼 E ------ */

.search-button {
    padding: 5px 15px;
    border-color: #AF9A63;
    cursor: pointer;
    background-color: #AF9A63;
    border-radius: 5px;
    color: white;
}

#profile-box {
    font-size: 14px;
}

#sideAlert {
    position: fixed;
    bottom: 10%;
    cursor: pointer;
    right: -350px;
    padding: 20px;
    width: 350px;
    height: auto;
    overflow: hidden;
    box-shadow : 0px 5px 3px 4px rgba(0, 0, 0, 0.3);
    background-color: #f7f8fa;
    z-index: 10;
    transition: 0.3s;
}