<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->
<th:block layout:fragment="title">logistic</th:block>
<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logistic/style.css}">
    <script th:src="@{/js/logistic/script.js}"></script>
</th:block>

<main layout:fragment="content">
    <h1>입고 등록</h1>
    <div class="content">

        <div>
            입고 ID : <input type="text" th:value="${inbound.warehouseInboundId}" readonly>
            <br>
            입고 등록인 : <input type="text" th:value="${inbound.getEmployee().getEmpName()}" readonly>
            <br>
            입고 일자 : <input type="text" th:value="${inbound.getWarehouseInboundDate()}" readonly>
            <br>
        </div>

        <table class="styled-table">
            <thead>
            <tr>
                <th>품목Code</th><th>품목 이름</th><th>거래처</th><th>거래단가</th><th>입고수량</th><th>단위</th><th>입고금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i:${inbound.getInboundProducts()}">

                <td th:text="${i.getWarehouseInboundProductId()}">품목code</td>
                <td th:text="${i.getProduct().productName}">품목 이름</td>
                <td th:text="${i.getProduct().getVendor().getVendorName()}">거래처</td>
                <td th:text="${i.getProduct().productPrice}">거래단가</td>

                <td th:text="${i.getInboundQuantity()}">입고수량</td>
                <td th:text="${i.getProduct().productUnit}">단위</td>
                <td th:text="${i.getInboundPrice()}">입고금액</td>

            </tr>
            </tbody>
        </table>

        <div>
            총 입고수량 : <input type="text" th:value="${inbound.getTotalQuantity()}" readonly>
            <br>
            총 입고 금액 : <input type="text" th:value="${inbound.getTotalPrice()}" readonly>
            <br>

        </div>

    </div>
</main>


</html>


















<!--                            <label for="product">입고상품 : </label>-->
<!--                            &lt;!&ndash; 여기서 레이블은 select값의 id와 매핑시켜주어서 select와 매핑시켜주는 것이다.&ndash;&gt;-->
<!--                            <select  id="product" name="productCode">-->
<!--                                &lt;!&ndash; Post를 통해서 컨트롤러로 넘어가는 것은? select의 name값이 넘어간다.&ndash;&gt;-->
<!--                                <option value="">상품 선택하세요</option>-->
<!--                                <option th:each="p :${products}"-->
<!--                                        th:value="${p.productCode}"-->
<!--                                        th:text="${p.productName}">-->
<!--                                    고객명-->
<!--                            </select>-->