<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->
<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logistic/style.css}">
    <script th:src="@{/js/logistic/warehouse/script.js}"></script>
</th:block>


<main layout:fragment="content">
    <h1>입고 목록</h1>
    <div class="content">
        <div class="right-top-btn">
            <a th:href="@{/logistic/warehouseinbound/add}">
                <button class="commonBtn register-button" type="submit"> + 입고 등록</button>
            </a>
        </div>

        <table class="styled-table">
            <label>
                <input type="checkbox" id="bulkInboundCheckbox" name="bulkInboundCheckbox"
                       onchange="handleCheckboxClick()">
                대량 입고
            </label>
            <thead>
            <tr>
                <th>입고번호</th>
                <th>입고일자</th>
                <th>담당자</th>
                <th>총입고수량</th>
                <th>구분</th>
            </tr>
            </thead>
            <tbody th:if="${bulkInboundCheckbox}">
            <!-- 대량 입고 체크 시에만 해당 리스트를 출력 -->
            <tr th:each="i:${recentHighTotalPriceInbounds}">
                <td>
                    <a th:text="${i.warehouseInboundId}"
                       th:href="@{/logistic/warehouseinbound/info/{Id}(Id=${i.warehouseInboundId})}">
                        주문 Id
                    </a>
                </td>
                <td th:text="${#temporals.format(i.getWarehouseInboundDate(), 'yyyy.MM.dd a hh:mm')}">입고일자</td>
                <td th:text="${i.getEmployee().getEmpName()}">담당자 명</td>
                <td th:text="${i.getTotalQuantity()}">총 입고수량</td>
                <td>비고</td>
                <!-- 나머지 코드 -->
            </tr>
            </tbody>
            <tbody th:unless="${bulkInboundCheckbox}">
            <!-- 대량 입고 체크 안 한 경우에만 해당 리스트를 출력 -->
            <tr th:each="i:${allIbounds}">
                <td>
                    <a th:text="${i.warehouseInboundId}"
                       th:href="@{/logistic/warehouseinbound/info/{Id}(Id=${i.warehouseInboundId})}">
                        주문 Id
                    </a>
                </td>

                <td th:text="${i.getWarehouseInboundDate()}">입고일자</td>
                <td th:text="${i.getEmployee().getEmpName()}">담당자 명</td>
                <td th:text="${i.getTotalQuantity()}">총 입고수량</td>
                <td>비고</td>
                <!-- 나머지 코드 -->
            </tr>
            </tbody>
            <!--                <tbody>-->
            <!--                <tr th:each="i:${allIbounds}">-->

            <!--                    <td>-->
            <!--                        <a th:text="${i.warehouseInboundId}" th:href="@{/logistic/warehouseinbound/info/{Id}(Id=${i.warehouseInboundId})}">-->
            <!--                            주문 Id-->
            <!--                        </a>-->
            <!--                    </td>-->

            <!--                    <td th:text="${i.getWarehouseInboundDate()}">입고일자</td>-->
            <!--                    <td  th:text="${i.getEmployee().getEmpName()}">담당자 명</td>-->
            <!--                    <td  th:text="${i.getTotalQuantity()}">총 입고수량</td>-->
            <!--                    <td >비고</td>-->
            <!--                </tr>-->

            <!--                </tbody>-->

        </table>
    </div>
    <script th:inline="javascript">
        function handleCheckboxClick() {
            var isChecked = document.getElementById('bulkInboundCheckbox').checked;
            console.log(isChecked);

        }
    </script>

</main>
</html>