<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logistic/style.css}">
    <script th:src="@{/js/logistic/warehouse/script.js}"></script>
</th:block>

<style>
    /* 상단의 페이지 제목 */
    .page-title {
        text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
        color: #6B4D27;
    }
</style>

<main layout:fragment="content">
    <h1 class="page-title" style="margin-bottom: 50px;">| 창고 입고 정보 상세 조회</h1>
    <div class="content">

        <div class="ipgodetail">
            입고 번호<input type="text" th:value="${inbound.warehouseInboundId}" readonly>
            <br>
            입고 등록인<input type="text" th:value="${inbound.getEmployee().getEmpName()}" readonly>
            <br>
            입고 일자<input type="text"
                        th:value="${#temporals.format(inbound.getWarehouseInboundDate(), 'yyyy.MM.dd a hh:mm')}"
                        readonly>
            <br>
        </div>

        <table class="detail-table">
            <thead>
            <tr>
                <th>품목 Code</th>
                <th>품목명</th>
                <th>거래처</th>
                <th>거래 단가</th>
                <th>입고 수량</th>
                <th>단위</th>
                <th>입고 금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i:${inbound.getInboundProducts()}">
                <td th:text="${i.getProduct().productCode}">품목 code</td>
                <td th:text="${i.getProduct().productName}">품목명</td>
                <td th:text="${i.getProduct().getVendor().getVendorName()}">거래처</td>
                <td th:text="${#numbers.formatDecimal(i.getProduct().productPrice, 0, 'COMMA', 0, 'POINT') + ' 원'}">거래 단가</td>
                <td th:text="${#numbers.formatDecimal(i.getInboundQuantity(), 0, 'COMMA', 0, 'POINT')}">입고 수량</td>
                <td th:text="${i.getProduct().productUnit}">단위</td>
                <td th:text="${#numbers.formatDecimal(i.getInboundPrice(), 0, 'COMMA', 0, 'POINT')}">입고 금액</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td th:text="거래 합계"></td>
                <td colspan="3"></td>
                <td th:text="${#numbers.formatDecimal(inbound.getTotalQuantity(), 0, 'COMMA', 0, 'POINT')}">Total Quantity</td>
                <td></td>
                <td th:text="${#numbers.formatDecimal(inbound.getTotalPrice(), 0, 'COMMA', 0, 'POINT') + ' 원'}">Total Price</td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
</html>