<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->
<th:block layout:fragment="title">logistic</th:block>
<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logistic/style.css}">
    <script th:src="@{/js/logistic/warehouse/script.js}"></script>
</th:block>

<main layout:fragment="content">
    <h1>이건 제목입니다.</h1>
    <div class="content">
        <h3>테두리는 content클래스때문입니다. 둥근네모가 싫다면 저 클래스명을 지워버리면 됩니당.</h3>
    </div>
</main>

</html>