<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logistic/style.css}">
    <script th:src="@{/js/logistic/warehouse/script.js}"></script>
</th:block>

<style>
    /* 상단의 페이지 제목 */
    .page-title {
        text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
        color: #6B4D27;
    }
</style>

<main layout:fragment="content">
    <h1 class="page-title" style="margin-bottom: 50px;">| 창고 재고 정보 조회</h1>
    <div class="content">
        <div class="small-content">
            <table class="vertical-table">
                <tbody>
                <tr>
                    <th>품목 ID</th>
                    <td th:text="${inventory.getProductCode()}">p.productCode</td>
                </tr>
                <tr>
                    <th>카테고리</th>
                    <td th:text="${inventory.getProductCategory()}">카테고리</td>
                </tr>
                <tr>
                    <th>품목 이름</th>
                    <td th:text="${inventory.productName}">p.productCode</td>
                </tr>
                <tr>
                    <th>품목 가격</th>
                    <td th:text="${#numbers.formatDecimal(inventory.productPrice, 0, 'COMMA', 0, 'POINT') + ' 원'}"></td>

                </tr>
                <tr>
                    <th>품목 단위</th>
                    <td th:text="${inventory.productUnit}">p.productCode</td>
                </tr>
                <tr>
                    <th>창고 재고 수량</th>
<!--                    <td th:text="${inventory.productCnt}">p.productCode</td>-->
                    <td style="color: #036635;" th:text="${#numbers.formatDecimal(inventory.productCnt, 0, 'COMMA', 0, 'POINT')}"></td>
                </tr>

                <tr>
                    <th>최근 입고일</th>
                    <td th:text="${#temporals.format(inventory.getModifiedAt(),'yyyy.MM.dd a hh:mm')}"></td>
                </tr>
                <tr>
                    <th>판매 여부</th>
                    <td th:text="${inventory.productSelling}">p.productCode</td>
                </tr>

                </tbody>
            </table>

        </div>

        <div class="bottom-button">
            <a th:href="@{/logistic/stock/warehouse/update/{code}(code=${inventory.getProductCode()})}">
                <button class="commonBtn edit-button">수정</button>
            </a>
            <a th:href="@{/logistic/stock/warehouse/list}">
                <button class="commonBtn cancel-button">목록으로</button>
            </a>
        </div>
    </div>
</main>
</html>