<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->
<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logistic/style.css}">
    <script th:src="@{/js/logistic/warehouse/script.js}"></script>
</th:block>

<style>
    /* 상단의 페이지 제목 */
    .page-title {
        text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
        color: #6B4D27;
    }
</style>

<main layout:fragment="content">
    <h1 class="page-title" style="margin-bottom: 50px;">| 창고 재고 목록</h1>
    <div class="content">

        <div class="top-btn">
            <a th:href="@{/logistic/stock/warehouse/list}">
                <button class="wideBtn switch-button1"> 창고 재고</button>
            </a>
            <a th:href="@{/logistic/stock/store/list}">
                <button class="wideBtn switch-button2"> 매장 재고</button>
            </a>
        </div>
        <div class="one-line">
            <form th:action="@{/logistic/stock/warehouse/list}" method="get">
                <input type="text" name="searchKeyword" placeholder="찾으실 품목 이름을 입력하세요">
                <button class="search" type="submit">검색</button>
            </form>
            <a th:href="@{/document/createDoc}">
                <button class="commonBtn register-button" type="submit">발주 신청</button>
            </a>
        </div>

        <table class="list-table">
            <thead>
            <tr>
                <th>품목 Code</th>
                <th>품목 이름</th>
                <th>카테고리</th>
                <th>창고 보유 재고</th>
                <th>단위</th>
                <th>거래여부</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${products}"
                th:onclick="'location.href=\'' + @{/logistic/stock/warehouse/info/{code}(code=${p.productCode})} + '\''"
                style="cursor:pointer">
                <td th:text="${p.productCode}">p.productCode</td>
                <td th:text="${p.productName}">p.name</td>
                <td th:text="${p.productCategory}">카테고리</td>
<!--                <td th:text="${p.productCnt}">창고 보유 재고</td>-->
                <td th:text="${#numbers.formatDecimal(p.productCnt, 0, 'COMMA', 0, 'POINT')}">창고 보유 재고</td>
                <td th:text="${p.productUnit}">p.unit</td>
                <td th:text="${p.productSelling} ? '판매 중' : '판매 중지'">거래 상태</td>
            </tr>
            </tbody>
        </table>

        <div class="pagination">

            <!--            첫 번째 페이지로 이동-->
            <a th:href="@{/logistic/stock/warehouse/list(page =0)}"> << </a>

<!--            이전 페이지로 이동-->

            <a th:classappend="${nowPage ==1} ? 'disabled': ''"
               th:href="@{/logistic/stock/warehouse/list(page =${ nowPage - 2})}"> < </a>


            <th:block th:each="page :${#numbers.sequence(startPage,endPage)}">

                <a th:if="${page != nowPage}"
                   th:href="@{/logistic/stock/warehouse/list(page = ${page - 1}, searchKeyword =${param.searchKeyword})}"
                   th:text="${page}"></a>
                <!--        param ->쿼리 스트링 중에 특정키워드 가져와서 넘겨줌-->

                <strong class="current-page" th:if="${page == nowPage}" th:text="${page}" ></strong>

            </th:block>

<!--            다음 페이지 이동-->
            <a th:classappend="${nowPage == totalPages} ? 'disabled' : ''"
               th:href="@{/logistic/stock/warehouse/list(page =${nowPage})}"> > </a>

<!--            마지막 페이지 이동-->
            <a th:href="@{/logistic/stock/warehouse/list(page =${totalPages -1})}"> >> </a>
        </div>
    </div>
</main>
</html>