<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->
<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logistic/style.css}">
    <script th:src="@{/js/logistic/warehouse/script.js}"></script>
</th:block>

<style>
    /* 상단의 페이지 제목 */
    .page-title {
        text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
        color: #6B4D27;
    }
</style>

<main layout:fragment="content">
    <h1 class="page-title" style="margin-bottom: 50px;">| 출고 내역 상세 조회</h1>
    <div class="content">
        <div class="ipgodetail">
            출고 번호<input type="text" th:value="${outbound.warehouseoutboundId}" readonly>
            <br>
            출고 등록인<input type="text" th:value="${outbound.getEmployee().getEmpName()}" readonly>
            <br>
            출고 일자<input type="text" th:value="${#temporals.format(outbound.getWarehouseOutboundDate(), 'yyyy.MM.dd a hh:mm')}" readonly>
            <br>
        </div>
        <table class="detail-table">
            <thead>
            <tr>
                <th>품목 Code</th>
                <th>품목 이름</th>
                <th>거래처</th>
                <th>거래단가</th>
                <th>출고수량</th>
                <th>단위</th>
                <th>출고금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="o:${outbound.getOutboundProducts()}">
                <td th:text="${o.getProduct().productCode}">품목 code</td>
                <td th:text="${o.getProduct().productName}">품목 이름</td>
                <td th:text="${o.getProduct().getVendor().getVendorName()}">거래처</td>
                <td th:text="${#numbers.formatDecimal(o.getProduct().productPrice, 0, 'COMMA', 0, 'POINT') + ' 원'}">거래단가</td>
                <td th:text="${#numbers.formatDecimal(o.getOutboundQuantity(), 0, 'COMMA', 0, 'POINT')}">출고수량</td>
                <td th:text="${o.getProduct().productUnit}">단위</td>
                <td th:text="${#numbers.formatDecimal(o.getOutboundPrice(), 0, 'COMMA', 0, 'POINT')}">출고금액</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td th:text="거래합계"></td>
                <td colspan="3"></td>
                <td th:text="${#numbers.formatDecimal(outbound.getTotalQuantity(), 0, 'COMMA', 0, 'POINT')}">Total Quantity</td>
                <td></td>
                <td th:text="${#numbers.formatDecimal(outbound.getTotalPrice(), 0, 'COMMA', 0, 'POINT') + ' 원'}">Total Price</td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
</html>