<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->

<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logistic/style.css}">
    <script th:src="@{/js/logistic/warehouse/script.js}"></script>
</th:block>

<main layout:fragment="content">
    <h1>입고 등록</h1>
    <div class="content">

        <div>
            입고 ID : <input type="text" th:value="${outbound.warehouseoutboundId}" readonly>
            <br>
            입고 등록인 : <input type="text" th:value="${outbound.getEmployee().getEmpName()}" readonly>
            <br>
            입고 일자 : <input type="text" th:value="${outbound.getWarehouseOutboundDate()}" readonly>
            <br>
        </div>

        <table class="detail-table">
            <thead>
            <tr>
                <th>품목Code</th><th>품목 이름</th><th>거래처</th><th>거래단가</th><th>입고수량</th><th>단위</th><th>입고금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="o:${outbound.getOutboundProducts()}">

                <td th:text="${o.getProduct().productCode}">품목code</td>
                <td th:text="${o.getProduct().productName}">품목 이름</td>
                <td th:text="${o.getProduct().getVendor().getVendorName()}">거래처</td>
                <td th:text="${o.getProduct().productPrice}">거래단가</td>

                <td th:text="${o.getOutboundQuantity()}">입고수량</td>
                <td th:text="${o.getProduct().productUnit}">단위</td>
                <td th:text="${o.getOutboundPrice()}">입고금액</td>

            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td th:text="거래합계"></td>
                <td colspan="3"></td>
                <td th:text="${outbound.getTotalQuantity()}">Total Quantity</td>
                <td></td>
                <td th:text="${outbound.getTotalPrice()}">Total Price</td>
            </tr>
            </tfoot>
        </table>


    </div>
</main>


</html>