<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logistic/style.css}">
    <script th:src="@{/js/logistic/outbound/script.js}"></script>
</th:block>

<style>
    /* 상단의 페이지 제목 */
    .page-title {
        text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
        color: #6B4D27;
    }
</style>

<main layout:fragment="content">
    <h1 class="page-title" style="margin-bottom: 50px;">| 출고 정보 등록</h1>
    <div class="content">
        <form id="addForm"  action="/logistic/outbound/warehouse/add" method="post">

            <div>
                담당자명 :<span th:text="${employee.empName}"></span>
                <input type="hidden" id="employee" name="empId" th:value="${employee.empId}">
            </div>

                <button type="submit" id="submitBtn" value="출고등록">출고등록</button>
                <!-- JSON 데이터를 저장할 숨겨진 입력 필드 -->
                <input type="hidden" id="warehouseOutboundDtos" name="warehouseOutboundDtos" value="">
        </form>

        <form id="itemForm" >

            <label for="product">출고상품 : </label>
            <!-- 여기서 레이블은 select값의 id와 매핑시켜주어서 select와 매핑시켜주는 것이다.-->
            <select  id="product" name="productCode">
            <!-- Post를 통해서 컨트롤러로 넘어가는 것은? select의 name값이 넘어간다.-->
                <option value="">상품 선택하세요</option>
                <option th:each="p :${products}"
                        th:value="${p.productCode}"
                        th:data-name="${p.productName}"
                        th:data-category="${p.productCategory}"
                        th:data-price="${p.productPrice}"
                        th:data-cnt="${p.productCnt}"
                        th:text="${p.productName}">
                    고객명
                </option>
            </select>

            <label for="quantity"> 출고 수량</label>
            <input type="number" id="quantity" name="outboundQuantity">

<!--            <p>가격 * 수량 <span id="result"></span></p>-->
            <button type="button" id="addBtn">추가</button>


        </form>

<!--        <ul id="contentList">-->

<!--        </ul>-->

        <table id="contentTable">
            <thead>
            <tr>
                <th>No.</th>
                <th>카테고리</th>
                <th>품목명</th>
                <th>가격</th>
                <th>창고보유재고</th>
                <th>출고 수량</th>
                <th>삭제</th>

            </tr>
            </thead>
            <tbody id="contentTableBody"></tbody>
        </table>
    </div>

</main>


</html>





