<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->
<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logistic/style.css}">
    <script th:src="@{/js/logistic/warehouse/script.js}"></script>
</th:block>

<style>
    /* 상단의 페이지 제목 */
    .page-title {
        text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
        color: #6B4D27;
    }
</style>

<main layout:fragment="content">
    <h1 class="page-title" style="margin-bottom: 50px;">| 매장 재고 수정</h1>

    <div class="content">
        <form th:action="@{/logistic/stock/store/update/{productCode}/{storeNo}(productCode=${inventory.getProduct().productCode},storeNo=${inventory.getStore().getStoreNo()})}" th:method="post" class="inventoryUpdate-form">
                         <!--DTO로 보낼 것이기 때문에, DTO에 있는 필드 명과 일치할 수 있도록 DTO의 필드명으로 값들을 보낸다.            -->
                         <!-- 아래에서 name으로 정의해서 보내는 게 아니다. -->
            <div class="small-content">

                <table class="vertical-table">
                    <tbody>
                    <tr>
                        <th>품목 ID</th>
                        <td th:text="${inventory.getProduct().getProductCode()}">p.productCode</td>
<!--                        <input type="hidden" th:value="${inventory.getProduct().productCode }" name="productCode" id="productCode">-->
<!--                        <input type="hidden" th:value="${inventory.getStore().getStoreNo()}" name="storeNo">-->

                    </tr>
                    <tr>
                        <th>카테고리</th>
                        <td th:text="${inventory.getProduct().productCategory}">카테고리</td>
                    </tr>
                    <tr>
                        <th>품목 이름</th>
                        <td th:text="${inventory.getProduct().productName}">p.productCode</td>
                    </tr>
                    <tr>
                        <th>품목 가격</th>
<!--                        <td th:text="${inventory.getProduct().productPrice}">p.productCode</td>-->
                        <td th:text="${#numbers.formatDecimal(inventory.getProduct().productPrice, 0, 'COMMA', 0, 'POINT') + ' 원'}"></td>
                    </tr>
                    <tr>
                        <th>품목 단위</th>
                        <td th:text="${inventory.getProduct().productUnit}">p.productCode</td>
                    </tr>
                    <tr>
                        <th>매장 이름</th>
                        <td th:text="${inventory.getStore().getStoreName()}">p.productCode</td>
                    </tr>
                    <tr>
                        <th>매장 담당자</th>
                        <td th:text="${inventory.getStore().getEmployee().getEmpName()}">p.productCode</td>
                    </tr>
                    <tr>
                        <th>매장 재고 수량</th>
                        <td>
                        <input style="text-align: center; color: #b81414;" type="number" th:value="${inventory.getInventoryCnt()}" name="inventoryCnt">
                        </td>
                    </tr>
                    <tr>
                        <th>최근 입고일</th>
                        <td th:if="${inventory.getModifiedAt() != null}" th:text="${#temporals.format(inventory.getModifiedAt(),'yyyy.MM.dd a hh:mm')}"></td>
                        <td th:if="${inventory.getModifiedAt() == null}" th:text="${#temporals.format(inventory.getCreatedAt(),'yyyy.MM.dd a hh:mm')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="bottom-button">
                <button type="submit" class="commonBtn edit-button"> 수정</button>
                <a th:href="@{/logistic/stock/store/info/{code}/{no}(code=${inventory.getProduct().productCode},no=${inventory.getStore().getStoreNo()})}">
                    <button type="button" class="commonBtn cancel-button" >목록</button>
                </a>
            </div>
        </form>
    </div>
<!--    <script type="text/javascript">-->
<!--        function cancelUpdate() {-->
<!--            var code = document.getElementById("productCode").value;-->

<!--            window.location.href = "/logistic/stock/warehouse/info/"+code;-->
<!--        }-->
<!--    </script>-->
</main>


</html>