<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->

<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logistic/style.css}">
    <script th:src="@{/js/logistic/store/script.js}"></script>
</th:block>

<style>
    /* 상단의 페이지 제목 */
    .page-title {
        text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
        color: #6B4D27;
    }
</style>

<main layout:fragment="content">
    <h1 class="page-title" style="margin-bottom: 50px;">| 매장 입고 목록</h1>
    <div class="content">
        <div class="right-top-btn">
            <button class="commonBtn register-button" type="submit" onclick="handleInboundRegistration()"> 입고 등록
            </button>
            <input type="hidden" th:value="${employee.getPosition()}" id="role">
        </div>
        <div class="middle-btn">
            <a th:href="@{/logistic/inbound/warehouse/list}">
                <button class="wideBtn switch-button2"> 창고 입고</button>
            </a>
            <a th:href="@{/logistic/inbound/store/list}">
                <button class="wideBtn switch-button1"> 매장 입고</button>
            </a>
        </div>

        <!--        <form>-->
        <!--        <label>-->
        <!--            <input type="checkbox" id="bulkInboundCheckbox" name="bulkInboundCheckbox" th:checked="${checkbox}" onchange="handleCheckboxClick()">-->
        <!--            <input type="hidden" name="_bulkInboundCheckbox" value="on">-->
        <!--            대량 입고-->
        <!--        </label>-->
        <!--        </form>-->

        <!--        <input type="text" th:value="${checkbox}" readonly>-->

        <table class="list-table">

            <thead>
            <tr>
                <th>입고 번호</th>
                <th>입고 일자</th>
                <th>입고 지점</th>
                <th>총 입고 수량</th>
                <th>구분</th>
            </tr>
            </thead>
            <tbody th:fragment="inboundTableBody" id="inboundTableBody">

            <tr th:each="i:${inbounds}"
                th:onclick="'location.href=\'' + @{/logistic/inbound/store/info/{Id}(Id=${i.getStoreInboundId()})} + '\''"
                style="cursor:pointer">
                <td th:text="${i.getStoreInboundId()}">주문 번호</td>
                <td th:text="${#temporals.format(i.getStoreInboundDate(), 'yyyy.MM.dd a hh:mm')}">입고 일자</td>
                <td th:text="${i.getStore().getStoreName()}">지점명</td>
                <!--                <td th:text="${i.getTotalQuantity()}">총 입고수량</td>-->
                <td th:text="${#numbers.formatDecimal(i.getTotalQuantity(), 0, 'COMMA', 0, 'POINT')}">총 입고 수량</td>
                <td>비고</td>
            </tr>

            </tbody>

        </table>

        <div class="pagination">

            <!--            첫 번째 페이지로 이동-->
            <a th:href="@{/logistic/inbound/store/list(page =0)}"> << </a>

            <!--            이전 페이지로 이동-->

            <a th:classappend="${nowPage ==1} ? 'disabled': ''"
               th:href="@{/logistic/inbound/store/list(page =${ nowPage - 2})}"> < </a>


            <th:block th:each="page :${#numbers.sequence(startPage,endPage)}">

                <a th:if="${page != nowPage}"
                   th:href="@{/logistic/inbound/store/list(page = ${page - 1})}"
                   th:text="${page}"></a>
                <!--        param ->쿼리 스트링 중에 특정키워드 가져와서 넘겨줌-->

                <strong class="current-page" th:if="${page == nowPage}" th:text="${page}"></strong>

            </th:block>

            <!--            다음 페이지 이동-->
            <a th:classappend="${nowPage == totalPages} ? 'disabled' : ''"
               th:href="@{/logistic/inbound/store/list(page =${nowPage})}"> > </a>

            <!--            마지막 페이지 이동-->

            <a th:href="@{/logistic/inbound/store/list(page =${totalPages -1})}"> >> </a>
        </div>


    </div>
    <!--    <script th:inline="javascript">-->

    <!--        function handleCheckboxClick() {-->
    <!--            var isChecked = document.getElementById('bulkInboundCheckbox').checked;-->
    <!--            console.log(isChecked);-->

    <!--            var xhr = new XMLHttpRequest();-->
    <!--            xhr.open('GET', '/logistic/warehouseinbound/list?bulkInboundCheckbox=' + isChecked, true);-->
    <!--            //업데이트 하는 부분-->
    <!--            xhr.onreadystatechange = function () {-->
    <!--                if (xhr.readyState === 4 && xhr.status === 200) {-->
    <!--                    // 'inboundTableBody' fragment를 가진 테이블의 내용을 업데이트-->
    <!--                    var parser = new DOMParser();-->
    <!--                    var responseDoc = parser.parseFromString(xhr.responseText, 'text/html');-->

    <!--                    // 조건 추가: 'inboundTableBody' ID를 가진 요소를 찾을 수 있는 경우에만 업데이트-->
    <!--                    var updatedTableBody = responseDoc.getElementById('inboundTableBody');-->
    <!--                    if (updatedTableBody) {-->
    <!--                        document.getElementById('inboundTableBody').innerHTML = updatedTableBody.innerHTML;-->
    <!--                    }-->
    <!--                }-->
    <!--            };-->
    <!--            xhr.send();-->
    <!--        }-->


    <!--    </script>-->
    <script th:inline="javascript">
        function handleInboundRegistration() {
            // 입력된 직책 값을 가져옴
            const roleInput = document.getElementById("role");
            const role = roleInput.value;

            // 비교할 직책
            const expectedRole = "ROLE_STOREMANAGER";

            // 직책이 일치하는지 확인
            if (role === expectedRole) {
                // 직책이 일치하면 링크로 이동
                window.location.href = "/logistic/inbound/store/add";
            } else {
                // 직책이 일치하지 않으면 알림창 표시

                Swal.fire({
                    icon: "error",
                    title: "권한이 없습니다"
                });
            }
        }
    </script>

</main>


</html>