name: React build apple

on: 
  push:            
    branches:
      - master

jobs:
  ssh-action:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: SSH Remote Commands
        uses: appleboy/ssh-action@v0.1.4        
        with:
          host: ${{ secrets.HOST }}          
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          timeout: 40s  # 30초 기본        
          script: |
            echo "테스트 출력"
